{# src/HDA/ClichesBundle/Resources/views/Oeuvre/register_content.html.twig #}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}, 'action': path('cliches_player_proposalchoice_proposalchoice', {'playerOeuvre_id': playerProposal.playerOeuvre.id })}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
        </div>
        <br />
    {% endif %}

    <fieldset>
        <div>
            <div class="float-right">
                <span title="Il s'agit de la {# cliches_player_playeroeuvre_service.getIndexBySession(playerProposal.playerOeuvre.playerSession) #}e question de cette partie.">
                    #{# cliches_player_playeroeuvre_service.getIndexBySession(playerProposal.playerOeuvre.playerSession) #}
                </span>
            </div>
            <legend>Cartel :</legend>
        </div>

        {{ form_rest(form) }}
    </fieldset>
    <br />
    <div class="float-right"><a href="{{ path('cliches_player_end_end', {'playerSession_id' : playerProposal.playerOeuvre.playerSession.id }) }}" class="btn btn-secondary" title="Terminer la partie" data-toggle="tooltip" data-placement="left" ><span class="fas fa-sign-out-alt"></span></a></div>
    <div class="text-center"><input type="submit" class="btn btn-success" value="Vérifier" /></div>
{{ form_end(form) }}