{# src/HDA/PlayerBundle/Resources/views/Player/game.html.twig #}
 
{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    #{{ cliches_player_playeroeuvre_service.getIndexBySession(playerProposal.playerOeuvre.playerSession) }} - Session - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Clichés!
{% endblock %}

{% block brandhomelink %}{{ path('cliches_home_home_index', {'sid': playerProposal.playerOeuvre.playerSession.id}) }}{% endblock %}

{% block content %}
<input type="hidden" value="{{playerProposal.playerOeuvre.playerSession.id}}" id="session-id" />
<input type="hidden" value="{{playerProposal.playerOeuvre.id}}" id="oeuvre-id" />
<input type="hidden" value="{{playerProposal.id}}" id="playerProposal-id" />

<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="sticky-top">
                    <div class="pt-2 text-center">
                        <input type="hidden" id="inputImageId" value="{{  image.id }}" />
                        <!-- Erreur sur le fileName ici (qui n'existe plus) -->
                        {% set image = data_image_image_service.getOneByView(playerProposal.playerOeuvre.view) %}
                        {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': playerProposal.playerOeuvre.view.id, 'class': 'img-fluid vh-80 rounded', 'id': 'imgEntity'})) }}
                        {% if data_data_entity_service.get(playerProposal.playerOeuvre.view.entity, 'P31') != null %}<div class="mt-2 text-muted">Nature de l'élément à décrire : {{ data_data_entity_service.get(playerProposal.playerOeuvre.view.entity, 'P31') }}</div>{% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                {% if proposalType == 'choice' %}
                    {% include "CLICHESPlayerBundle:Proposal:proposal_choice_content.html.twig" %}
                {% elseif proposalType == 'field' %}
                    {% include "CLICHESPlayerBundle:Proposal:proposal_field_content.html.twig" %}
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
    
{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_cliches_player_proposal') }}
    {% if proposalType == 'choice' %}
        {{ encore_entry_script_tags('js_cliches_player_proposalChoice') }}
    {% elseif proposalType == 'field' %}
        {{ encore_entry_script_tags('js_cliches_player_proposalField') }}
    {% endif %}
{% endblock %}