{# src/HDA/ClichesBundle/Resources/views/Oeuvre/register_content.html.twig #}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
    
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.playerProposalFields) }}
    </div>
    <br />
    {% endif %}
    
    <fieldset>
        <div>
            <div class="float-right">
                <span title="Il s'agit de la {{ cliches_player_playeroeuvre_service.getIndexBySession(playerProposal.playerOeuvre.playerSession) }}e question de cette partie.">
                    #{{ cliches_player_playeroeuvre_service.getIndexBySession(playerProposal.playerOeuvre.playerSession) }}
                </span>
            </div>
            <h2 class="legend">Cartel :</h2>
        </div>
        
        {{ form_row(form.playerProposalFields) }}
        <div id="ajax-loader" class="d-flex justify-content-center">
            <div class="spinner-grow text-primary" style="width: 4rem; height: 4rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </fieldset>
    {{ form_rest(form) }}
    <br />
    <div class="float-right"><a href="{{ path('cliches_player_end_end', {'playerSession_id' : playerProposal.playerOeuvre.playerSession.id }) }}" class="btn btn-secondary" title="Terminer la partie" data-toggle="tooltip" data-placement="left" ><i class="fas fa-sign-out-alt"></i></a></div>
    <div class="text-center"><input type="submit" class="btn btn-success" value="Vérifier" /></div>
{{ form_end(form) }}