{# src/HDA/PlayerBundle/Resources/views/Player/game.html.twig #}
 
{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    Jeu - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Clichés!
{% endblock %}
    
{% block h1 %}
    Questionnaire :
{% endblock %}

{% block brandhomelink %}{{ path('cliches_home_home_index', {'sid': playerSession.id}) }}{% endblock %}

{% block content %}
<input type="hidden" value="{{playerSession.id}}" id="session-id" />
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div id="countdown" class="text-center text-success"></div>
        <div class="row">
            <div class="col-12">
                <div class="thumbnail">
                    {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': view.id, 'class': 'image-cliches fancybox', 'session': playerSession.id })) }}
                    <div class="caption text-muted text-right">
                        <small><span class="fas fa-search-plus"></span> Cliquer pour zoomer</small>
                    </div>
                </div>
                <div class="text-right"><a href="{{ path('cliches_player_end_end', {'playerSession_id' : playerSession.id }) }}" class="btn btn-secondary" title="Terminer la partie" data-toggle="tooltip" data-placement="left" ><span class="fas fa-sign-out-alt"></span></a></div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
    
{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_cliches_player_visualisation') }}
{% endblock %}