{# src/TB/LayoutBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/layout.html.twig" %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}
    confusart.histoiredelart.fr {{ parent() }}
{% endblock %}

{% block follow %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css_stickyFooter') }}
    {{ encore_entry_link_tags('css_tb_layout') }}
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light mb-5">
        <div class="container">
            <a class="navbar-brand" href="{{ path('tb_home_home_index') }}">
                <img src="{{ asset('images/logo.png') }}" width="70" alt="Logo de Clichés!" class="mr-3">
                {% block brandtitle %}{% endblock %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="ml-3"><a href="{{ path('tb_testedgame_testedgame_create') }}" class="btn btn-primary">Contribuer</a></li>
                        <li class="dropdown ml-3 pt-2">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownUserLink">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                                <a class="dropdown-item" href="{{ path('tb_personalplace_home_index') }}">Mes parties</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                                {% if is_granted("ROLE_MODO") %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('tb_administration_home_index') }}">Administration</a>
                                {% endif %}
                            </div>
                        </li>
                    {% else %}
                        <li class="ml-3 pt-2"><a href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-hda-cta-main">Connexion</a></li>
                    {% endif %}
                    <li class="dropdown ml-3 pt-2">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownSitesLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sites</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSitesLink">
                            <a class="dropdown-item" href="{{ path('cliches_home_home_index') }}">Clichés!</a>
                            <a class="dropdown-item" href="{{ path('data_public_home_index') }}">DATA</a>
                            {% if is_granted("ROLE_ADMIN") %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('cas_administration_user_index') }}">CAS</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}  

{% block container %}
    <div class="container">
        {% if 'tb_home_home_index' in app.request.get('_route') %}{% else %}
        <div>
            <div class="pull-right">{% block contextual_menu %}{% endblock %}</div>
            <ol class="breadcrumb">
                {% block breadcrumb %}
                    <li class="breadcrumb-item"><a href="{{ path('tb_home_home_index') }}">Accueil</a></li>
                {% endblock %}
            </ol>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="mt-5 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <ul class="list-unstyled">
                        <li><a href="{{ path('cliches_home_home_index') }}" class="text-muted">Clichés!</a></li>
                        <li><a href="{{ path('tb_home_home_index') }}" class="text-muted">ConfusArt</a></li>
                        <li><a href="{{ path('data_public_home_index') }}" class="text-muted">Data</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted">Contribuer</a></li>
                        <li><a href="{{ path('home_home_home_mentionsLegales') }}" class="text-muted">Mentions légales</a></li>
                        <li><a href="mailto:{{ cliches_mail }}" class="text-muted" title="Questions / Suggestions / Remarques / Aide">{{ cliches_mail }}</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/mcfq2Rdyt"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}