{# src/DATA/LayoutBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/layout.html.twig" %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}
    confusart.histoiredelart.fr {{ parent() }}
{% endblock %}

{% block follow %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css_tb_stickyFooterPlayer') }}
    {{ encore_entry_link_tags('css_tb_player') }}
{% endblock %}

{% block header %}
<header id="header-main" class="navbar navbar-inverse header-data" role="navigation">
    <nav class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('tb_home_home_index') }}" id="home-logo">
                <img src="{{ asset('images/logo.png') }}" alt="Clichés! logo" style="max-height: 39px; max-width:100px; margin-top: -9px; display: inline;" />
            </a> <span class="navbar-brand" style="margin-left: 0px;"><h1>{% block h1 %}{% endblock %}</h1></span>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('cliches_home_home_index') }}">Clichés!</a></li>
                <li><a href="{{ path('data_public_home_index') }}">DATA</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if is_granted("ROLE_ADMIN") %}<li><a href="{{ path('tb_testedgame_testedgame_view', {'testedGame_id': testedGame.id}) }}">Éditer</a></li>
                {% elseif testedGame.createUser == app.user %}<li><a href="{{ path('tb_testedgame_testedgame_view', {'testedGame_id': testedGame.id}) }}">Éditer</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}<li><a href="{{ path('tb_administration_home_index') }}">Administration</a></li>{% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                        <li><a href="{{ path('tb_personalplace_home_index') }}">Mes parties</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="bg-warning"><a class="" href="{{ path('fos_user_registration_register') }}" style="color: #FFF;">Inscription</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
</header>
{% endblock %}  

{% block container %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="mt-5 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <ul class="list-unstyled">
                        <li><a href="{{ path('cliches_home_home_index') }}" class="text-muted">Clichés!</a></li>
                        <li><a href="{{ path('tb_home_home_index') }}" class="text-muted">ConfusArt</a></li>
                        <li><a href="{{ path('data_public_home_index') }}" class="text-muted">Data</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted">Contribuer</a></li>
                        <li><a href="{{ path('home_home_home_mentionsLegales') }}" class="text-muted">Mentions légales</a></li>
                        <li><a href="mailto:{{ cliches_mail }}" class="text-muted" title="Questions / Suggestions / Remarques / Aide">{{ cliches_mail }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}