{% if playerSessionCollection['playerOeuvres'] is not empty %}
    <div class="col-12 col-sm-6 mt-4">
        <div class="card">
            <div class="card-header" role="tab" id="heading{{ loop.index }}">
                <h3 class="card-title">
                    <span class="caret"></span>
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                    Partie du {{ playerSessionCollection['playerSession'].dateBegin|date("d-m-Y") }} ({{ cliches_player_playersession_service.getNumberCliches(playerSessionCollection['playerSession']) }} clichés)
                        {% if playerSessionCollection['playerSession'].simpleSession == true %} - Mode examen{% endif %}
                    </a>
                </h3>
            </div>
            <div id="collapse{{ loop.index }}" class="card-collapse collapse in" role="tabcard" aria-labelledby="heading{{ loop.index }}">
                <div class="card-body">
                    {% for playerOeuvreCollection in playerSessionCollection['playerOeuvres'] %}
                        {% set playerOeuvre = playerOeuvreCollection['playerOeuvre'] %}
                        {% set entity = data_data_entity_service.getByView(playerOeuvre.view) %}

                        <div class="media mt-3">
                            {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': playerOeuvre.view.id, 'class': 'mr-3 w-25'})) }}
                            <div class="media-body">
                                <h3 class="mt-0"><a href="{{ path('data_public_entity_view', {'id': entity.id}) }}">{{ data_data_entity_service.get(entity, 'label') }}</a></h3>
                                <div>
                                    {% if data_data_entity_service.get(entity, 'description') != null %}
                                        {{ data_data_entity_service.get(entity, 'description') | capitalize }}
                                    {% else %}
                                        {{ data_data_entity_service.getCreator(entity) }}
                                    {% endif %}

                                    {% if data_data_entity_service.getDateOfCreation(entity) != null %}
                                        | {{ data_data_entity_service.getDateOfCreation(entity) }}
                                    {% endif %}
                                    {% if data_data_entity_service.get(entity, 'P276') != null %}
                                        | {{ data_data_entity_service.get(entity, 'P276') }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}