{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    Statistiques - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Mes statistiques
{% endblock %}

{% block h1 %}
    Mes statistiques :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="breadcrumb-item active">Statistiques</li>
{% endblock %}

{% block content %}
    <section class="alert alert-info text-center">
        <strong>Ci-dessous, l'historique de vos {{ playerSessions.getTotalItemCount }} parties jouées.</strong>
    </section>
    <section class="row">
        <div class="col-12">
            <div class="card-group row" id="accordion" role="tablist" aria-multiselectable="true">
                {% for playerSessionCollection in playerSessions %}
                    {% include "CLICHESPersonalPlaceBundle:Stats:stats-playerSessions.html.twig" %}
                {% else %}
                    {% include "CLICHESPersonalPlaceBundle:Stats:stats-noResults.html.twig" %}
                {% endfor %}
            </div>
            {% if playerSessions.getTotalItemCount > 0 %}
                <div class="text-center mt-3">{{ knp_pagination_render(playerSessions) }}</div>
            {% endif %}
        </div>
    </section>
{% endblock %}
