<div class="col-sm-12">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Oups ... Aucune statistique ...</h3>
        </div>
        <div class="card-body">
            <p class="text-center"><strong>Oups ... Aucune statistique n'existe pour votre compte. Il semble que vous n'ayez jamais joué connecté !<br />
                    <a href="{{ path('cliches_home_home_index') }}">Lancez une partie</a> et revenez ensuite pour que vos statistiques d'utilisation s'affichent.</strong></p>
        </div>
    </div>
</div>