{# src/CLICHES/LayoutBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/layout.html.twig" %}

{% block title %}Clichés!{% endblock %}

{% block follow %}
    <meta name="robots" content="index,follow" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css_stickyFooter') }}
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light mb-5">
        <div class="container">
            <a class="navbar-brand" href="{{ path('cliches_home_home_index') }}">
                <img src="{{ asset('images/logo.png') }}" width="70" alt="Logo de Clichés!" class="mr-3">
                <span class="d-none d-sm-inline">{% block brandtitle %}{% endblock %}</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right text-sm-left">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="ml-3"><a href="{{ path('data_public_home_contribute') }}" class="btn btn-primary">Contribuer</a></li>
                        <li class="dropdown ml-3 pt-2">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownUserLink">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                                <a class="dropdown-item" href="{{ path('cliches_personalplace_privateplayer_index') }}">Mes collections</a>
                                <a class="dropdown-item" href="{{ path('cliches_personalplace_stats_stats') }}">Mes statistiques</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                                {% if is_granted("ROLE_MODO") %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('cliches_administration_home_index') }}">Admin Clichés</a>
                                    <a class="dropdown-item" href="{{ path('data_administration_home_index') }}">Admin Data</a>
                                    <a class="dropdown-item" href="{{ path('cas_administration_user_index') }}">Admin CAS</a>
                                {% endif %}
                            </div>
                        </li>
                    {% else %}
                        <li class="ml-3"><a href="{{ path('fos_user_security_login') }}" class="btn btn-hda-cta-main">Connexion</a></li>
                    {% endif %}
                    <li class="ml-3 pt-2"><a href="{{ path('data_public_home_index') }}">DATA</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}  

{% block container %}
<div class="container" id="cliches-container">
    {% if 'administration' in app.request.get('_route') or
        'profile' in app.request.get('_route') or
        'personalplace' in app.request.get('_route') or
        'fos_user_registration_register' in app.request.get('_route') or
        'fos_user_change_password' in app.request.get('_route') %}
        <div>
            <div class="pull-right">{% block contextual_menu %}{% endblock %}</div>
            <ol class="breadcrumb">
                {% block breadcrumb %}
                    <li class="breadcrumb-item"><a href="{{ path('cliches_home_home_index') }}">Clichés!</a></li>
                {% endblock %}
            </ol>
        </div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block footer %}
<footer class="mt-8 text-muted">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 text-center text-sm-left">
                <ul class="list-unstyled">
                    <li><a href="{{ path('cliches_home_home_index') }}" class="text-muted">Clichés!</a></li>
                    {#<li><a href="{{ path('tb_home_home_index') }}" class="text-muted">ConfusArt</a></li>#}
                    <li><a href="{{ path('data_public_home_index') }}" class="text-muted">Data</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 text-center text-sm-left mt-4 mt-sm-0">
                <ul class="list-unstyled">
                    <li><a href="{{ path('data_public_home_contribute') }}" class="text-muted">Contribuer</a></li>
                    <li><a href="{{ path('home_home_home_mentionsLegales') }}" class="text-muted">Mentions légales</a></li>
                    <li><a href="mailto:{{ cliches_mail }}" class="text-muted" title="Questions / Suggestions / Remarques / Aide">{{ cliches_mail }}</a></li>
                    <li><a href="https://framagit.org/karlpineau/histoiredelart.fr" class="text-muted">Répertoire Framagit</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 text-center text-sm-left mt-4 mt-sm-0">
                <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/mcfq2Rdyt"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>

                <div class="mt-2"><a class="text-muted" href='https://ind.ie/ethical-design'><div style='display: block;'>▲❤ <span class="pl-2">We practice <strong>Ethical</strong> Design.</span></div></a></div>
            </div>
        </div>
        {% block footer_content %}{% endblock %}
    </div>
</footer>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}