{% extends "DATAPublicBundle::layout.html.twig" %}

{% block title %}
    Contribuer - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Contribuer
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Contribuer</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-sm-12 alert-success">
                {{ flashMessage }}
            </div>
            <br />
        {% endfor %}
        
        <div class="jumbotron">
            <h2>Participez à l'amélioration de Clichés!</h2>
            <p>Clichés! ne fonctionne que grâce aux contributions de ces utilisateurs (vous ;)). Proposez vos clichés et oeuvres vus en cours pour maintenir le site à jour :)</p>

            <h3>Comment proposer des clichés ?</h3>
            <p>Nous vous proposons 2 façons de proposer des clichés.</p>

            <h3>Via fichier Excel</h3>
            <p>La première méthode consiste à nous transmettre un fichier tabulé (Excel) contenant la description de vos clichés. Voici la démarche :</p>
            <ul>
                <li>Téléchargez <a href="{{ asset('modele.xlsx') }}">notre modèle de fichier Excel</a> ;</li>
                <li>Remplissez une ligne par oeuvre ;</li>
                <ul>
                    <li>Attention, toutes les oeuvres contenues dans un fichier doivent appartenir à la même matière ! Si besoin, copiez le fichier en autant de matières que nécessaire ;</li>
                    <li>Tous les champs ne sont pas obligatoires. Laissez vide si vous ne connaissez pas la valeur ;</li>
                </ul>
                <li>Créez sur votre ordinateur un dossier et placez-y les photos de vos clichés. Nommez chaque image en fonction de son numéro de ligne dans le fichier Excel ;</li>
                <li>Placez votre fichier Excel dans votre dossier ;</li>
                <li>Compressez le dossier et envoyez-le nous par email à <a href="mailto:cliches@histoiredelart.fr">cliches@histoiredelart.fr</a>. Vous pouvez utiliser un service comme <a href="https://send.firefox.com" target="_blank">Firefox Send</a> ou WeTransfer si le dossier compressé est trop gros pour un mail.</li>
            </ul>

            <h3>Via Wikidata</h3>
            <p>La seconde option consiste à nous transmettre les identifiants des oeuvres référencées sur <a href="https://www.wikidata.org" target="_blank">Wikidata</a> que vous souhaitez importer. Wikidata est une base de données généraliste. En 2019, elle référence quasiment 2 millions d'oeuvres d'art, issues du monde entier.</p>
            <p>Voici la méthode :</p>
            <ul>
                <li>Rendez-vous sur <a href="https://www.wikidata.org" target="_blank">Wikidata</a> et recherchez une oeuvre (par exemple : Les Demoiselles d'Avignon) ;</li>
                <li>Une fois sur la page de l'oeuvre, copiez l'identifiant attenant à son nom qui commence par Q : Q910199 ;</li>
                <li>Envoyez-nous la liste des identifiants que vous souhaitez importer à <a href="mailto:cliches@histoiredelart.fr">cliches@histoiredelart.fr</a> en précisant la matière associée.</li>
            </ul>
            <p>Attention : même si Wikidata recense près de 2 millions d'oeuvres d'art, la couverture est très inégale d'un domaine à un autre. Il est possible que votre oeuvre n'est pas été entrée. Ou il est possible que très peu
            d'informations à son sujet aient été entrées. Wikidata est une base librement modifiable - sur le même modèle que Wikipédia, n'hésitez pas à créer une fiche pour l'oeuvre ou à compléter les informations à son propos, cela bénéficiera à la connaissance globale !</p>
        </div>
    </section>
</div>
{% endblock %}