{% extends "::themes/HOME/home_layout.html.twig" %}

{% block follow %}
    <meta name="robots" content="index,follow" />
{% endblock %} 

{% block content %}{% endblock %}

{% block javascript %}{{ parent() }}{% endblock %}