<link rel="schema.DC" />
<meta name="DC.title" content="{{ data_data_entity_service.get(entity, 'label') }}" />
{% if data_data_entity_service.getDateOfCreation(entity) != null %}<meta name="DC.date" content="{{ data_data_entity_service.getDateOfCreation(entity) }}" />{% endif %}
{% if data_data_entity_service.getCreator(entity) != null %}<meta name="DC.creator" content="{{ data_data_entity_service.getCreator(entity) }}" />{% endif %}
{% if teachings|length > 0 %}<meta name="DC.subject" content="{% for teaching in teachings  %}{% if loop.index > 1 %}, {% endif %}{{ teaching.name }}{% endfor %}" />{% endif %}
<meta name="DC.publisher" content="Clichés! - {{ app.request.getSchemeAndHttpHost() }}/data" />
<meta name="DC.language" content="fr" scheme="ISO639-1" />
<meta name="DC.identifier" content="{{ app.request.getSchemeAndHttpHost() }}/data/items/{{ entity.id }}" />
<meta name="generator" content="Symfony3" />
