<div class="card mt-3">
    <div class="card-header">Enseignements</div>
    <div class="list-group list-group-flush">
        {% for teaching in teachings %}
        <div class="list-group-item">
            <a href="{{path('data_public_teaching_view', {'slug': teaching.slug})}}"><span class="fas fa-chalkboard-teacher"></span> {{teaching.name}}</a>
        </div>
        {% else %}
        <div class="list-group-item alert alert-warning">
            <span class="fas fa-chalkboard-teacher"></span> Pas d'enseignement ...
        </div>
        {% endfor %}
    </div>
</div>

