{% if data_data_entity_service.getSources(entity) != null %}
    <div class="card mt-3">
        <div class="card-header">Sources</div>
        <div class="list-group list-group-flush">
            {% for source in data_data_entity_service.getSources(entity) %}
                <div class="list-group-item">
                    {% if source.authorityControl == true %}<span class="fas fa-thumbs-up" title="Ceci est une notice d'autorité"></span> {% endif %}
                    <a href="{{ source.url }}" target="_blank">{{ source.title }} <span class="fas fa-external-link-alt"></span></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}