<div class="card">
    <div class="card-header">
        {% if entity.enrichmentStatus == 1 %}
            <a href="{{ entity.wikidataSameAs }}" target="_blank"><img src="{{ asset('images/wikidata_powered.png') }}" alt="Powered by Wikidata" class="float-right w-25" /></a>
        {% endif %}
        <div class="card-title">Informations</div>
    </div>
    <div class="list-group list-group-flush">
        {% for entityProperty in properties %}
            {% if entityProperty.property != 'wd-sitelinks' and entityProperty.property != 'wd-wikipedia-frwiki' and entityProperty.property != 'wd-wikipedia-enwiki' %}
                {% set displayPropertyId = false %}
                {% include '::property/property.html.twig' %}
            {% endif %}
        {% endfor %}
    </div>
</div>