{% if data_data_entity_service.getWikipedia(entity, 'fr') != null %}
    {% set wikipediaObj = data_data_entity_service.getWikipedia(entity, 'fr') %}
    {% set wikipediaContent = wikipediaObj.value|json_decode %}
    <div class="card mt-3">
        <div class="card-header">
            <div class="card-title">Wikipedia</div>
        </div>
        <div class="card-body">
            <blockquote cite="https://fr.wikipedia.org/wiki/{{ wikipediaContent.title }}">{{ wikipediaContent.extract | raw }}</blockquote>
            <div class="text-right"><a href="https://fr.wikipedia.org/wiki/{{ wikipediaContent.title }}" target="_blank">Lire plus</a></div>
        </div>
    </div>
{% endif %}