{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ form_start(form, {'attr': {'class': 'form-inline', 'style': 'display: inline-block;'}, 'action': path('data_public_entity_addViewToPrivateSession', {'view_id': view.id})}) }}
        {% if not form.vars.valid %}
            <div class="alert alert-error">
                <strong>Votre formulaire contient les erreurs suivantes :</strong>
                {{ form_errors(form) }}
                {{ form_errors(form.privatePlayers) }}
            </div>
            <br />
        {% endif %}

        <div class="input-group">
            {{ form_label(form.privatePlayers, "Session :", {'label_attr': {'class': 'sr-only control-label'}}) }}
            {{ form_widget(form.privatePlayers, {'attr': {'class': 'form-control'}}) }}

            <div class="input-group-btn">
                <button type="submit" class="btn {% if ppid is defined %}btn-primary{% else %}btn-secondary{% endif %}"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
        </div>
    {{ form_end(form) }}
{% endif %}