{# src/DATA/PublicBundle/Resources/views/Entity/View/view-views.html.twig #}
{% for view in relatedViews %}
    <div class="card mt-3">
        <div class="card-header text-center">
            <figure class="figure">
                {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': view.id, 'class': 'image-cliches-list img-fluid'})) }}
                <figcaption class="figure-caption"><small>&copy; {{ data_image_image_service.getOneByView(view).copyright }}</small></figcaption>
            </figure>
        </div>
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <strong>Enseignements :</strong>
                {% for teaching in view.teachings %}
                    {% if loop.index > 1 %}, {% endif %}
                    <a href="{{ path('data_public_teaching_view', {'slug': teaching.slug}) }}">{{ teaching.name }}</a>
                {% endfor %}
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="list-group-item">
                <div>
                    <a class="float-right btn btn-sm btn-outline-primary" data-toggle="collapse" href="#collapseCollection-{{ view.id }}" role="button" aria-expanded="false" aria-controls="collapseCollection-{{ view.id }}"><i class="fas fa-caret-down"></i></a>
                    <strong>Mes collections :</strong>
                </div>
                <div class="collapse" id="collapseCollection-{{ view.id }}">
                    <p class="text-muted"><small>Ajouter ce cliché à l'une de vos collections.</small></p>
                    <hr />
                    {% if (cliches_personalplace_privateplayer_service.getByView(view, app.user) | length) > 0 %}
                    <p>Ce cliché est déjà présent dans les collections suivantes :</p>
                    <ul>
                        {% for privatePlayer in cliches_personalplace_privateplayer_service.getByView(view, app.user) %}
                            <li>
                                <a href="{{ path('cliches_personalplace_privateplayer_view', {'id': privatePlayer.id}) }}">{{ privatePlayer.title }}</a>
                                <a href="{{ path('cliches_personalplace_privateplayer_removeview', {'privatePlayer_id': privatePlayer.id, 'view_id': view.id}) }}" class="text-danger ml-4" title="Supprimer ce clichés de la collection {{ privatePlayer.title }}"><i class="fas fa-remove"></i></a>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr />
                    {% endif %}

                    {{ render(controller('CLICHESPersonalPlaceBundle:PrivatePlayer:addToPrivatePlayer', {'view_id': view.id})) }}
                    <p class="text-right"><a href="{{ path('cliches_personalplace_privateplayer_register') }}"><small>Créer une nouvelle collection</small></a></p>
                </div>

            </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="alert alert-danger">Pas de vues relatives</div>
{% endfor %}