{# src/HDA/AdministrationBundle/Resources/views/Index/index.html.twig #}
 
{% extends "CLICHESAdministrationBundle::layout.html.twig" %}
 
{% block title %}
    Liste des PlayerSessions - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Liste des dernières sessions
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Liste des dernières sessions</li>
{% endblock %}

{% block h1 %}
    Liste des dernières PlayerSessions
{% endblock %}

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <table class="table table-bordered table-striped">
            <caption>{{ sessions.getTotalItemCount }} résultats</caption>
            <tr>
                <th>#</th>
                <th><i class="fa fa-desktop" aria-hidden="true"></i></th>
                <th>Matière</th>
                <th>Période</th>
                <th>Durée</th>
                <th>Type</th>
                <th>Nb</th>
                <th>User</th>
            </tr>
        {% for session in sessions %}
            <tr>
                <td><a href="{{ path('cliches_administration_playersession_view', {'session_id': session.id}) }}">#{{ ((sessions.getPaginationData.current-1)*100)+loop.index }}</a></td>
                <td>
                    {% if session.context == "webapp" %}<i class="fa fa-desktop" aria-hidden="true" title="Session sur le site Clichés"></i>
                    {% elseif session.context == "facebook_messenger" %}<i class="fa fa-facebook-square" aria-hidden="true" title="Session sur le chatbot Messenger"></i>
                    {% else %}<i class="fa fa-desktop" aria-hidden="true" title="Session sur le site Clichés"></i>
                    {% endif %}
                </td>
                <td>{% if session.teaching != null %}{{ session.teaching.name }}{% endif %}</td>
                <td>
                    {% if session.dateBegin is null and session.dateEnd is null %}Aucune donnée{% endif %}
                    {% if session.dateBegin is not empty %}{{ session.dateBegin|date('d-m-Y H:i:s') }}{% endif %}
                    {% if session.dateEnd is not empty %} - {{ session.dateEnd|date('H:i:s') }}{% endif %}
                </td>
                <td>
                    {% if session.dateEnd is not empty %}
                        <span class="{% if cliches_player_playersession_service.getDiffTimeSession(session).s < 10 and cliches_player_playersession_service.getDiffTimeSession(session).i == 0 %}text-warning{% endif %}">
                            {{ cliches_player_playersession_service.getDiffTimeSession(session)|date("%H:%I:%S")}}
                        </span>
                    {% else %}NULL{% endif %}
                </td>
                <td>
                    {% if session.proposalType == 'modeChoice' %}Choice
                    {% elseif session.proposalType == 'modeField' %}Field
                    {% elseif session.proposalType == 'modeTest' %}Test
                    {% else %}<span class="text-warning">Undef.</span>
                    {% endif %}
                </td>
                <td>
                    <span class="{% if cliches_player_playersession_service.getNumberCliches(session) == 1 %}text-warning{% endif %}">
                        {{ cliches_player_playersession_service.getNumberCliches(session) }}
                    </span>
                </td>
                <td>
                    {% if session.context == "webapp" or session.context == null %}
                        {{ session.ipPlayerUser }}
                        {% if session.createUser is not empty %}<small><span class="fas fa-arrow-right"></span> <a href="{{ path('cas_administration_user_view', {'id': session.createUser.id}) }}">{{ session.createUser.email }}</a></small>{% endif %}
                    {% elseif session.context == "facebook_messenger" %}
                        {{ session.userFacebookId }} > {{ session.userFacebookLocal }} > {{ session.userFacebookRef }} > {{ session.userFacebookTimezone }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
        <div class="text-center">{{ knp_pagination_render(sessions) }}</div>
    </section>
</div>
{% endblock %}
