{# src/HDA/AdministrationBundle/Resources/views/Index/index.html.twig #}
 
{% extends "CLICHESAdministrationBundle::layout.html.twig" %}
 
{% block title %}
    Session #{{ session.id }} - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Session #{{ session.id }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('cliches_administration_playersession_index') }}">Liste des dernières sessions</a></li>
    <li class="breadcrumb-item active">Session #{{ session.id }}</li>
{% endblock %}

{% block h1 %}
    Session #{{ session.id }}
{% endblock %}

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-3">
                    <dl>
                        <dt>Matière :</dt>
                        <dd>{{ session.teaching.name }}</dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>Heure :</dt>
                        <dd>
                            {% if session.dateBegin is null and session.dateEnd is null %}Aucune donnée{% endif %}
                            {% if session.dateBegin is not empty %}{{ session.dateBegin|date('d-m-Y H:i:s') }}{% endif %}
                            {% if session.dateEnd is not empty %} - {{ session.dateEnd|date('H:i:s') }}{% endif %}
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>Type :</dt>
                        <dd>
                            {% if session.proposalType == 'modeChoice' %}Choice
                            {% elseif session.proposalType == 'modeField' %}Field
                            {% elseif session.proposalType == 'modeTest' %}Test
                            {% else %}<span class="text-warning">Undef.</span>
                            {% endif %}
                        </dd>
                        <dt>Nombre de clichés :</dt>
                        <dd>{{ cliches_player_playersession_service.getNumberCliches(session) }}</dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>Joueur :</dt>
                        <dd>{{ session.ipPlayerUser }}{% if session.createUser is not empty %} <i class="fas fa-arrow-right"></i> <a href="{{ path('cas_administration_user_view', {'id': session.createUser.id}) }}">{{ session.createUser.email }}</a>{% endif %}</dd>
                        <dt>HTTP_USER_AGENT :</dt>
                        <dd>{% if session.HTTPUSERAGENT is not empty %}{{ session.HTTPUSERAGENT }}{% else %}no data{% endif %}</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <caption>Liste des oeuvres vues durant la session</caption>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Auteur</th>
                        <th>Date</th>
                    </tr>
                    {% for playerOeuvreCollection in playerOeuvres %}
                        {% set playerOeuvre = playerOeuvreCollection['playerOeuvre'] %}
                        {% set entity = data_data_entity_service.getByView(playerOeuvre.view) %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': playerOeuvre.view.id, 'class': 'image-cliches-list img-fluid size-small'})) }}
                            </td>
                            <td>
                                <a href="{{ path("data_public_entity_view", {'id': entity.id}) }}">{{data_data_entity_service.get(entity, 'label')}}</a>
                            </td>
                            <td>{% if data_data_entity_service.getCreator(entity) != null %}{{ data_data_entity_service.getCreator(entity) }}{% else %}Auteur inconnu{% endif %}</td>
                            <td>{% if data_data_entity_service.getDateOfCreation(entity) != null %}{{ data_data_entity_service.getDateOfCreation(entity) }}{% else %}Datation inconnue{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}
