{% extends "DATAPersonalPlaceBundle::layout.html.twig" %}

{% block title %}
    Mes favoris - {{ parent() }}
{% endblock %}

{% block h1 %}
    Mes favoris :
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Mes favoris</li>
{% endblock %}

{% block content %}
    <div class="row">
        <section id="content" class="col-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <table class="table table-bordered table-striped">
                <caption>{{ favorites.getTotalItemCount }} favoris</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Auteur</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for favorite in favorites %}
                    <tr>
                        <td>{{ ((favorites.getPaginationData.current-1)*100)+loop.index }}</td>
                        <td><a href="{{ path('data_public_entity_view', {'id': favorite.entity.id}) }}">{{data_data_entity_service.get(favorite.entity, 'label')}}</a></td>
                        <td>{% if data_data_entity_service.getCreator(entity) != null %}{{ data_data_entity_service.getCreator(entity) }}{% else %}Auteur inconnu{% endif %}</td>
                        <td>{% if data_data_entity_service.getDateOfCreation(entity) != null %}{{ data_data_entity_service.getDateOfCreation(entity) }}{% else %}Datation inconnue{% endif %}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Aucun favoris connu pour le moment</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">{{ knp_pagination_render(favorites) }}</div>
        </section>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}