{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
            {{ form_errors(form.icon) }}
        </div>
        <br />
    {% endif %}
    <input type="hidden" id="iconURL" value="{{ testedGame.icon.orignalFileName }}" />

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <fieldset>
                    <legend>Partie :</legend>

                    <div class="form-group">
                        {{ form_widget(form.icon) }}
                        {{ form_label(form.icon) }}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-primary btn-lg" /></div>
{{ form_end(form) }}