{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.itemLabel) }}
        {{ form_errors(form.itemOrder) }}
    </div>
    <br />
    {% endif %}

    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header">
                    <strong>Item :</strong>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        {{ form_label(form.itemLabel, "Étiquette :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.itemLabel, {'attr': {'placeholder': 'Vase Ming', 'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.itemOrder, "Ordre d'affichage :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.itemOrder, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="thumbnail">
                {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': 0, 'image_id': testedItem.dataImage.id, 'class': 'image-cliches fancybox'})) }}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="text-center mt-3"><input type="submit" class="btn btn-primary btn-lg" /></div>
{{ form_end(form) }}