{% extends "::themes/CAS/cas_layout.html.twig" %}

{% block title %}
    Edition - Profil - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Edition - Profil
{% endblock %}

{% block h1 %}
    Edition - Profil
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="breadcrumb-item active">Edition</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% block fos_user_content %}
                        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
