{% extends "::themes/CAS/cas_layout.html.twig" %}

{% block title %}
    Mon profil
{% endblock %}

{% block h1 %}
    Mon profil
{% endblock %}

{% block contextual_menu %}

{% endblock %}

{% block brandtitle %}
    Mon profil
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Profil</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3>Mon profil</h3>
                    {% block fos_user_content %}
                        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3>Mes préférences</h3>
                    <dl class="row">
                        <dt class="col-6 text-right">Préférences mail</dt>
                        <dd class="col-6"><a href="{{ path('cas_user_userpreferences_mail') }}">Modifier</a></dd>
                        <dt class="col-6 text-right">Préférences Clichés!</dt>
                        <dd class="col-6"><a href="{{ path('cas_user_userpreferences_cliches') }}">Modifier</a></dd>
                        <dt class="col-6 text-right">Mon compte</dt>
                        <dd class="col-6"><a href="{{ path('cas_user_remove_index') }}" class="">Supprimer mon compte</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
