{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <dl class="row">
        <dt class="col-6 text-right">Nom d'utilisateur :</dt>
        <dd class="col-6">{{ user.username }} - <a href="{{ path('fos_user_profile_edit') }}" class="">Modifier</a></dd>
        <dt class="col-6 text-right">Adresse mail :</dt>
        <dd class="col-6">{{ user.email }} - <a href="{{ path('fos_user_profile_edit') }}" class="">Modifier</a></dd>
        <dt class="col-6 text-right">Mot de passe :</dt>
        <dd class="col-6"><a href="{{ path('fos_user_change_password') }}">Modifier</a></dd>
    </dl>
</div>
