{% extends "::themes/CAS/cas_layout.html.twig" %}

{% block title %}
    Préférences mail - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Préférences mail :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="breadcrumb-item active">Préférences mail</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "CASUserBundle:UserPreferences:Mail/edit_content.html.twig" %}
        </div>
    </section>
</div>
{% endblock %}
