{# src/HDA/AdministrationBundle/Resources/views/Index/index.html.twig #}
 
{% extends "CLICHESAdministrationBundle::layout.html.twig" %}
 
{% block title %}
    Administration - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Administration
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block h1 %}
    Administration
{% endblock %}

{% block contextual_menu %}
    <div class="pt-1 pl-1">
        <div class="btn-group">
            <a href="{{ path('cliches_administration_statistics_index') }}" class="btn btn-secondary" title="Statistiques" data-toggle="tooltip" data-placement="left"><i class="fas fa-chart-area"></i></a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item"><a href="{{ path('cliches_administration_playersession_index') }}">Historique des sessions</a></li>
                <li class="dropdown-item"><a href="{{ path('cliches_administration_votes_statistics') }}"><i class="fa fa-comments-o" aria-hidden="true"></i> Votes</a></li>
                <li class="dropdown-item"><a href="{{ path('cliches_administration_statistics_statisticsbyteaching') }}">Stats par Enseignement</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>

        <div class="col-12">
            <div class="well">
                <canvas id="sessionsInTime" width="400" height="100"></canvas>
            </div>
        </div>

        <div class="col-12 mt-4">
            <div>
                <h3>Dernières sessions :</h3>
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>#</th>
                    <th>Matière</th>
                    <th>Période</th>
                    <th>Type</th>
                    <th>Nb</th>
                    <th>User</th>
                </tr>
                {% for session in sessions %}
                    <tr>
                        <td><a href="{{ path('cliches_administration_playersession_view', {'session_id': session.id}) }}">#{{ loop.index }}</a></td>
                        <td>{% if session.teaching != null %}{{ session.teaching.name }}{% endif %}</td>
                        <td>
                            {% if session.dateBegin is null and session.dateEnd is null %}Aucune donnée{% endif %}
                            {% if session.dateBegin is not empty %}{{ session.dateBegin|date('d-m-Y H:i:s') }}{% endif %}
                            {% if session.dateEnd is not empty %} - {{ session.dateEnd|date('H:i:s') }}
                                <i class="fas fa-arrow-right"></i> {{ cliches_player_playersession_service.getDiffTimeSession(session)|date("%H:%I:%S")}}{% endif %}
                        </td>
                        <td>
                            {% if session.proposalType == 'modeChoice' %}Choice
                            {% elseif session.proposalType == 'modeField' %}Field
                            {% elseif session.proposalType == 'modeTest' %}Test
                            {% else %}<span class="text-warning">Undef.</span>
                            {% endif %}
                        </td>
                        <td>{{ cliches_player_playersession_service.getNumberCliches(session) }}</td>
                        <td>{{ session.ipPlayerUser }}{% if session.createUser is not empty %} <i class="fas fa-arrow-right"></i> <a href="{{ path('cas_administration_user_view', {'id': session.createUser.id}) }}">{{ session.createUser.email }}</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_cliches_administration_home') }}
{% endblock %}