{% extends "DATADataBundle::layout.html.twig" %}

{% block title %}
    Édition - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Édition Vue :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('data_data_entity_view', {'id': entity.id}) }}">{{ data_data_entity_service.get(entity, 'label') }}</a></li>
    <li class="breadcrumb-item active">Édition</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Image :</strong>
            </div>
            <div class="card-body">
                {% include "DATAImageBundle:Image:Edit/edit_content.html.twig" %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
