{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
            {{ form_errors(form.copyright) }}
            {{ form_errors(form.imageFile) }}
        </div>
        <br />
    {% endif %}

    <div class="form-group row">
        {{ form_label(form.copyright, "Copyright :", {'label_attr': {'class': 'col-sm-3 col-form-label text-right'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.copyright, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3 col-form-label text-right">
            Fichier image :
        </div>
        <div class="col-sm-9">
            <div class="custom-file">
                {{ form_label(form.imageFile, "Sélectionner un fichier", {'label_attr': {'class': 'custom-file-label'}}) }}
                {{ form_widget(form.imageFile, {'attr': {'class': 'custom-file-input'}}) }}
            </div>
        </div>
    </div>



    {{ form_rest(form) }}
    <div class="text-center mt-3"><input type="submit" class="btn btn-secondary" /></div>
{{ form_end(form) }}