{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block h1 %}Accueil - Administration{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <tr>
                    <th>Item</th>
                    <th>Précision</th>
                    <th>Calculé Sf</th>
                    <th>Calculé JS</th>
                    <th>Voulu</th>
                </tr>
                {% for entityC in entities %}
                    {% set entity = entityC.entity %}
                    <tr>
                        <td><a href="{{ path(data_data_entity_routing_service.getRoutingView(), {'id': entity.id}) }}">{{ data_data_entity_service.get(entity, 'label') }}</a></td>
                        <td>{% for precision in entityC.precision %}{% if loop.index > 1 %}, {% endif %}{{ precision }}{% endfor %}</td>
                        <td>{% if data_data_entity_service.getDateOfCreation(entity) != null %}{{ data_data_entity_service.getDateOfCreation(entity) }}{% else %}Datation inconnue{% endif %}</td>
                        <td><span class="dateJS">{{ entityC.dateJS }}</span></td>
                        <td>{{ entityC.trueValue }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}

{{ encore_entry_script_tags('js_data_administration_testdate') }}
{% endblock %}
