{% extends "DATADataBundle::layout.html.twig" %}

{% block title %}Fusion par ID - {{ parent() }}{% endblock %}

{% block h1 %}Fusion par ID{% endblock %}

{% block breadcrumb %}
    {{parent()}}
    <li class="active">Fusion par ID</li>
{% endblock %}

{% block content %}
<div class="row">
    <section id="content" class="col-12">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {% if not form.vars.valid %}
                <div class="alert alert-error">
                    <strong>Votre formulaire contient les erreurs suivantes :</strong>
                    {{ form_errors(form) }}
                    {{ form_errors(form.entityLeft) }}
                    {{ form_errors(form.entityRight) }}
                </div>
                <br />
            {% endif %}

            <fieldset>
                <legend>Entités ID :</legend>
                <p>L'entité de droite est fusionnée dans la gauche</p>

                <div class="form-group">
                    {{ form_label(form.entityLeft, "ID Left :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-3">
                        {{ form_widget(form.entityLeft, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.entityRight, "ID Right :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-3">
                        {{ form_widget(form.entityRight, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
            <br />
            {{ form_rest(form) }}
            <div class="text-center"><input type="submit" class="btn btn-warning" /></div>
        {{ form_end(form) }}
    </section>
</div>
{% endblock %}
