{# src/DATA/PublicBundle/Resources/views/Teaching/index.html.twig #}
 
{% extends "DATAPublicBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Enseignements
{% endblock %}
    
{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Enseignements</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-lg-7 alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
           

        <table class="table table-striped">
            <tr>
                <th style="max-width: 30px;">#</th>
                <th style="text-align: left;">Nom</th>
            </tr>
            {% for teaching in teachings %}
                <tr>
                    <td style="text-align: left;">{{ loop.index }}</td>
                    <td style="text-align: left;"><a href="{{ path('data_public_teaching_view', { 'slug' : teaching.slug} ) }}">{{ teaching.name }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" style="text-align: center; font-weight: bold;">Aucun enseignement.</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}