{% extends "TBPersonalPlaceBundle::layout.html.twig" %}

{% block title %}Nouveau TestedGame - {{ parent() }}{% endblock %}

{% block h1 %}Nouveau TestedGame{% endblock %}

{% block contextual_menu %}
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#helpModal">Besoin d'aide ?</button>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Nouveau</li>
{% endblock %}

{% block content %}
    <div class="modal fade" id="helpModal" role="dialog" aria-labelledby="helpModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="z-index:10000 !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="helpModalLabel">Besoin d'aide ?</h4>
                </div>
                <div class="modal-body">
                    <div class="float-left" style="margin-right: 10px;"><i class="fa fa-3x fa-envelope" aria-hidden="true"></i></div>
                    <p>Avant toutes choses, n'hésite pas à nous contacter à <a href="mailto:cliches@histoiredelart.fr">cliches@histoiredelart.fr</a> si les réponses à tes questions ne se trouvent pas ici.</p>

                    <h2>A propos de la partie :</h2>
                    <p>Cette première section traite des informations focalisées sur la partie : son nom, est-elle privée, son image d'illustration.</p>

                    <h2>A propos des images :</h2>
                    <p>Pour chaque image que vous souhaitez ajouter à votre session, cliquez sur "Ajouter une image".</p>
                    <p>Ce qui est à savoir :</p>
                    <ul>
                        <li>Le champ "Étiquette" correspond au texte qui sera affiché sur l'étiquette que le joueur déplacera sur la bonne image.</li>
                        <li>Le champ "Ordre d'affichage" correspond à l'ordre dans lequel les images seront disposées dans le cas où vous n'avez pas coché la case "Ordre aléatoire autorisé" dans la section "A propos de la partie".</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% include "TBPersonalPlaceBundle:TestedGame:Create/create_content.html.twig" %}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_tb_personalPlace_create') }}
{% endblock %}
