{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.title) }}
        {{ form_errors(form.simpleSession) }}
    </div>
    <br />
    {% endif %}

    <div class="form-group row">
        {{ form_label(form.title, "Titre :", {'label_attr': {'class': 'col-12 col-sm-3 col-form-label text-right'}}) }}
        <div class="col-12 col-sm-9">
            {{ form_widget(form.title, {'attr': {'placeholder': 'Clichés Précolombien 2017', 'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-sm-3 col-sm-9">
            <div class="custom-control custom-checkbox pl-1">
                {{ form_widget(form.publicPrivatePlayer) }}
                {{ form_label(form.publicPrivatePlayer) }}
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    <div class="text-center mt-4"><button type="submit" class="btn btn-primary">Créer</button></div>
{{ form_end(form) }}