{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    Nouvelle - Mes collections - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Nouvelle collection
{% endblock %}

{% block h1 %}
    Nouvelle collection
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
    <li class="breadcrumb-item"><a href="{{ path('cliches_personalplace_privateplayer_index') }}">Mes collections</a></li>
    <li class="breadcrumb-item active">Nouvelle</li>
{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Nouvelle collection</h2>
                </div>
                <div class="card-body">
                    {% include "CLICHESPersonalPlaceBundle:PrivatePlayer:Register/register_content.html.twig" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}