{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/full-height-block.css') }}" type="text/css" />
{% endblock %}

{% block brandtitle %}
    Découvrir Clichés!
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div>
            <h1>Bienvenue sur Clichés!</h1>
            <div class="text-center"><img src="{{ asset('images/logo.png') }}" alt="Logo Clichés!" style="max-width: 100px;"/></div>
            <br />
            <p class="text-center"><strong>Clichés! est une application vous permettant de tester simplement vos connaissances en histoire de l’art et en archéologie.</strong></p>
        </div>
        <div>
            <h2>Quel est le principe ?</h2>
            <p>Le principe du jeu est très simple : sélectionner une discipline d’histoire de l’art ou d’archéologie et laissez vous guider. Clichés! vous présentera au hasard des oeuvres d’art en rapport avec la discipline choisie et vous demandera de renseigner les cartels de ces oeuvres.</p>
        </div>
        <div>
            <h2>Comment fonctionne Clichés! ?</h2>
            <p>Clichés! est un site bénévole créé par un ancien élève de l’Ecole du Louvre. Nous pensons que le savoir doit être partagé et diffusé au plus grand nombre. C’est pourquoi les contenus de Clichés sont proposés gratuitement et dans une démarche d’open data.
                Les cartels, photographies et textes proviennent principalement issus de la contribution des utilisateurs du site ainsi que de la base libre Wikidata.
                Retrouvez l’intégralité de la base de données de Clichés sur <a href="{{ path('data_public_home_index') }}">{{ app.request.getSchemeAndHttpHost() }}/data</a>.</p>
        </div>
        <div>
            <h2>Comment contribuer à Clichés! ?</h2>
            <p>La contribution des utilisateurs à Clichés! est la première source d’enrichissement de nos données. Clichés! propose d’enrichir le contenu à chaque résultat d’oeuvre. Il est alors possible de proposer des améliorations du contenu ou signaler des erreurs.
                Votre participation - même ponctuelle - à cet enrichissement permet à Clichés! de vous proposer des résultats toujours plus satisfaisants.<br />
                N'hésitez pas également à <a href="{{ path('data_public_home_contribute') }}">proposer de nouveaux clichés</a>. </p>
        </div>
        <div>
            <h2>Partager Clichés!</h2>
            <p>Clichés! se base sur la contribution des utilisateurs. Diffuser le site est ainsi le meilleur moyen de nous aider à attirer de nouveaux utilisateurs et autant de sources de connaissance. N’hésitez pas à diffuser le site sur vos réseaux sociaux !</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}