{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block brandtitle %}Bienvenue sur Clichés!{% endblock %}

{% block content %}
    {% if sid is defined %}
    <div class="alert alert-info">
        <p>Hey, il semble que tu sois parti·e un peu vite ! <a href="{{ path('cliches_player_end_end', {'playerSession_id': sid}) }}">Clique ici pour retrouver les résultats de ta dernière partie.</a></p>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12 col-sm-7">
            <div class="jumbotron">
                <h2 class="text-center">Testez vos connaissances <span class="d-inline d-sm-block">en histoire de l'art grâce à Clichés!</span></h2>
                {{ render(controller('CLICHESHomeBundle:Home:load')) }}
                <p class="mt-5 mb-0 text-center"><small><a href="{{ path('cliches_personalplace_privateplayer_index') }}">Créez maintenant votre propre collection personnalisée de Clichés!</a></small></p>
            </div>
        </div>
        <div class="col-12 col-sm-5">
            <div>
                <h1>Bienvenue sur Clichés!</h1>
                <p>Les clichés constituent l'épreuve phare du concours de conservateur du patrimoine et de l'Ecole du Louvre.<br />
                    L'un des enjeux constitue à reconnaitre l'oeuvre présentée et à indiquer rapidement son cartel.<br />
                    Cette application est là pour vous aider à les réviser.</p>
                <p class="text-center"><a href="{{ path('cliches_home_home_discover') }}">Découvrez l'application !</a></p>
            </div>
            <div>
                <h2>D'où viennent les clichés ?</h2>
                <p>Les clichés utilisés sur ce site sont référencés sur la base <a href="{{ path('data_public_home_index') }}">{{ app.request.getSchemeAndHttpHost() }}/data</a>.<br />
                    Ils sont issus d'un mélange de données spécialisées et de données issues de la base libre <a href="http://wikidata.org" target="_blank">Wikidata</a>.</p>
                <p class="text-center"><a href="{{ path('data_public_home_index') }}">Explorez les clichés</a> - <a href="{{ path('data_public_home_contribute') }}">Proposez vos clichés</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h2>Memento Mori</h2>

                <p class="mt-5">Découvrez les contenus de Clichés! sous la forme de Memento Mori. Le principe est simple : téléchargez les pdf des matières et imprimez-les.
                    Vous pouvez ensuite y jouer selon <a href="https://fr.wikipedia.org/wiki/Time%27s_Up" target="_blank">les règles du Time's Up</a>.</p>

                <div class="row">
                    <div class="col-12 col-sm-4">
                        <h3>1ère Année</h3>

                        <ul>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/1A-ArcheoNationale.pdf">Archéologie nationale</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/1A-ProcheOrient.pdf">Archéologie du Proche-Orient</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/1A-egypte.pdf">Antiquités égyptiennes</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/1A-RomeEtrusque.pdf">Archéologie étrusque et romaine</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/1A-grece.pdf">Archéologie grecque</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/1A-Paleochretien.pdf">Archéologie paléochrétienne</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-sm-4">
                        <h3>2ème Année</h3>

                        <ul>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/2A-ma.pdf">Arts du Moyen-Âge</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/2A-renaissance.pdf">Arts de la Renaissance</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/2A-Islam.pdf">Arts de l'Islam</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/2A-Byzance.pdf">Arts de Byzance</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/2A-precolombien.pdf">Arts précolombiens</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/2A-Inde.pdf">Arts de l'Inde et du monde indianisé</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/2A-ChineJapon.pdf">Archéologie et arts de la Chine et du Japon</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-sm-4">
                        <h3>3ème Année</h3>

                        <ul>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/3A-XVII.pdf">Arts du XVIIe siècle</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/3A-XVIII.pdf">Arts du XVIIIe siècle</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/3A-XIX.pdf">Arts du XIXe siècle</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/3A-XX.pdf">Arts du XXe siècle</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $('#cliches_homebundle_home_load_mode').addClass('btn-group').attr('data-toggle', 'buttons');
        $.each($('input[id^="cliches_homebundle_home_load_mode_"]'), function() {
            var id = $(this).attr('id');
            var labelTitle = $(this).next().text();
            $(this).next().remove();
            $(this).attr('autocomplete', 'off');
            $(this).wrap('<label></label>').parent().attr('for', id).addClass('btn btn-secondary').append(labelTitle);
            if($(this).attr('value') == 'modeField') {
                $(this).attr('checked', 'checked');
                $(this).parent().addClass('active');
            }
        });
        $('[data-toggle="popover"]').popover();
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}