{{ form_start(form, {'attr': {'class': 'form-horizontal text-center'}, 'action': path('cliches_home_home_load')}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.teaching) }}
        {{ form_errors(form.mode) }}
    </div>
    <br />
    {% endif %}

    <div class="form-group mt-5">
        {{ form_label(form.teaching, "Matière :", {'label_attr': {'class': 'sr-only'}}) }}
        {{ form_widget(form.teaching, {attr: {class: 'custom-select custom-select-lg col-12 col-sm-10'}}) }}
    </div>
    {#<br />
    <div class="row">
        <div class="form-group">
            {{ form_widget(form.mode, {attr: {class: ''}}) }}
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="home_load[mode]" id="home_load_mode_0" autocomplete="off" value="modeChoice"> Normal
                </label>
                <label class="btn btn-primary active">
                    <input type="radio" name="home_load[mode]" id="home_load_mode_1" autocomplete="off" value="modeField" checked> Élevé
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="home_load[mode]" id="home_load_mode_2" autocomplete="off" value="modeField"> Examen
                </label>
            </div>

            <span class="fas fa-question-circle"
                  style="cursor: pointer;"
                  data-content="Le mode Normal vous propose des choix de réponse à cocher (façon QCM).<br />Le mode Élevé vous demande d'inscrire en toutes lettres chaque réponse.<br />Le mode Examen vous laisse 10 minutes pour composer sur une feuille de papier votre propre commentaire d'oeuvre."
                  data-toggle="popover"
                  data-html="true"
                  title="Modes" ></span>
        </div>
    </div>#}
    <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-lg btn-success" value="Et c'est parti !" /></div>
{{ form_end(form) }}