{% for value in qualifierContainer.values %}
    {% if loop.index > 1 %}, {% endif %}
    <a href="https://www.wikidata.org/wiki/{{ value.value }}" target="_blank">
        {% if value.labels.fr is defined %}
            {{ value.labels.fr.value }}
        {% elseif value.labels.en is defined %}
            {{ value.labels.en.value }}
        {% else %}
            (Valeur non définie)
        {% endif %}
    </a>
{% endfor %}
