{% for value in entityPropertyValue.values %}
    {% if loop.index > 1 %}, {% endif %}
    {% if value.mainsnak is defined %}
        <a href="https://www.wikidata.org/wiki/{{ value.mainsnak.value }}" target="_blank">
            {% if value.mainsnak.labels.fr is defined %}
                {{ value.mainsnak.labels.fr.value }}
            {% elseif value.mainsnak.labels.en is defined %}
                {{ value.mainsnak.labels.en.value }}
            {% else %}
                (Valeur non définie)
            {% endif %}
        </a>
    {% else %}
        {# dump(entityProperty) #}
    {% endif %}
    {% include "::property/qualifiers.html.twig" %}
{% endfor %}
