<ul class="list-unstyled">
    {% for value in qualifierContainer.values %}
        <li>
            {% if "://" in value.text %}<a href="{{ value.text }}" target="_blank">{% endif %}
                {{ value.text }}
                {% if "://" in value.text %}</a>{% endif %}
        </li>
    {% endfor %}
</ul>