<ul class="list-unstyled">
{% for value in entityPropertyValue.values %}
    <li>
        {% if "://" in value.mainsnak.text %}<a href="{{ value.mainsnak.text }}" target="_blank">{% endif %}
        {{ value.mainsnak.text }}
        {% if "://" in value.mainsnak.text %}</a>{% endif %}
        {% include "::property/qualifiers.html.twig" %}
    </li>
{% endfor %}
</ul>