<ul class="list-unstyled">
    {% for value in qualifierContainer.values %}
        <li>
            {{ value.amount }} ({{ data_data_wikidata_service.getLabelFromEntity(data_data_wikidata_service.getEntity(value.unit|replace({'http://www.wikidata.org/entity/': ''})), 'fr') }})
        </li>
    {% endfor %}
</ul>