<ul class="list-unstyled">
{% for value in entityPropertyValue.values %}
    <li>
        {{ value.mainsnak.amount }} {{ data_data_property_service.getQuantityPrecision(value.mainsnak.unit) }} {% include "::property/qualifiers.html.twig" %}
    </li>
{% endfor %}
</ul>