<ul class="list-unstyled">
{% for value in entityPropertyValue.values %}
    <li>
        {% if "://" in value.mainsnak %}<a href="{{ value.mainsnak }}" target="_blank">{% endif %}
        {{ value.mainsnak }}
        {% if "://" in value.mainsnak %}</a>{% endif %}
        {% include "::property/qualifiers.html.twig" %}
    </li>
{% endfor %}
</ul>