<ul class="list-unstyled">
    {% for value in qualifierContainer.values %}
        <li>
            {% if "://" in value %}<a href="{{ value }}" target="_blank">{% endif %}
            {{ value.mainsnak }}
            {% if "://" in value %}</a>{% endif %}
        </li>
    {% endfor %}
</ul>