<ul class="list-inline d-inline">
    {% for value in qualifierContainer.values %}
        <li class="list-inline-item d-inline">
            <span class="d-inline">{{ data_data_wikidata_service.computeTime(value) }}</span>
        </li>
    {% endfor %}
</ul>