<ul class="list-unstyled">
{% for value in entityPropertyValue.values %}
    <li>
        <span class="d-inline">{{ data_data_wikidata_service.computeTime(value.mainsnak) }}</span> {% include "::property/qualifiers.html.twig" %}
    </li>
{% endfor %}
</ul>