{% extends "::themes/TB/tb_layout.html.twig" %}

{% block title %}
    Administration - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block h1 %}{% endblock %}

{% block contextual_menu %}{% endblock %}

{% block breadcrumb %}
    {{parent()}}
    {% if app.request.get('_route') == 'tb_administration_home_index' %}<li class="breadcrumb-item active">Administration</li>
    {% else %}<li class="breadcrumb-item"><a href="{{ path('tb_administration_home_index') }}">Administration</a></li>
    {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}