{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.clichesLogfileComputing) }}
    </div>
    <br />
    {% endif %}
    
    <fieldset>
        <legend>Préférences Clichés! :</legend>

        <div class="form-group">
            <div class="col-md-6 text-right">
                {{ form_label(form.clichesLogfileComputing, "Prendre en compte mon historique de session dans le calcul des clichés :", {'label_attr': {'class': ''}}) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.clichesLogfileComputing) }}
            </div>
        </div>
    </fieldset>
        <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-default" /></div>
{{ form_end(form) }}