<div class="col-12 col-sm-3">
    <div class="card mt-2">
        <a class="no-link" href="{{ path("data_public_entity_view", {'id': entity.id}) }}">
            {% if view is defined and view != null %}{{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': view.id, 'class': 'card-img-top size-small'})) }}{% endif %}
            <div class="card-body">
                <div>
                    {% if index is defined %}<div class="float-right">
                        #{{ index }}
                    </div>{% endif %}
                    <h4 class="card-title">{{data_data_entity_service.get(entity, 'label')}}</h4>
                </div>
                <p class="card-text">
                    {% set resumeArray = [] %}
                    {% if data_data_entity_service.get(entity, 'description') != null %}
                        {% set resumeArray = resumeArray|merge([data_data_entity_service.get(entity, 'description')]) %}
                    {% elseif data_data_entity_service.get(entity, 'creator') != null %}
                        {% set resumeArray = resumeArray|merge([data_data_entity_service.getCreator(entity)]) %}
                    {% endif %}

                    {% if data_data_entity_service.getDateOfCreation(entity) != null %}
                        {% set resumeArray = resumeArray|merge([data_data_entity_service.getDateOfCreation(entity)]) %}
                    {% endif %}
                    {% if data_data_entity_service.get(entity, 'P276') != null %}
                        {# P276 = localisation #}
                        {% set resumeArray = resumeArray|merge([data_data_entity_service.get(entity, 'P276')]) %}
                    {% endif %}

                    {{ resumeArray|join(' | ') }}
                </p>
            </div>
        </a>
    </div>
</div>