{{ form_start(form, {'attr': {'class': 'form-inline', 'style': 'display: inline-block;'}}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.reporting) }}
    </div>
    <br />
    {% endif %}

    <div class="form-group">
        {{ form_label(form.reporting, "Sujet :", {'label_attr': {'class': 'sr-only control-label'}}) }}
        <div class="input-group">
            {{ form_widget(form.reporting, {'attr': {'placeholder': 'Votre signalement', 'class': 'form-control', 'aria-describedby': 'button-addon'}}) }}
            {{ form_rest(form) }}
            <div class="input-group-append" id="button-addon">
                <input type="submit" class="btn btn-success" value="Soumettre" />
                <a href="{{ path(entityReportingRoute, {'id': entityReporting.id}) }}" class="btn btn-warning">Annuler</a>
            </div>
        </div>
    </div>

{{ form_end(form) }}