{# src/HDA/PlayerBundle/Resources/views/Player/endGame.html.twig #}
 
{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    Félicitations ! - Partie terminée - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Partie terminée !
{% endblock %}
    
{% block h1 %}
    Partie terminée :
{% endblock %}

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="text-right mb-3">
            <a href="{{path('cliches_home_home_index')}}" class="btn btn-outline-primary btn-lg" title="Retourner à l'accueil" data-toggle="tooltip" data-placement="left"><span class="fas fa-sign-out-alt"></span></a>
        </div>
        <h2>Félicitations, vous venez d'achever votre partie !</h2>
        <div class="row mt-3">
            {% for playerOeuvreCollection in playerOeuvres %}
                {% set playerOeuvre = playerOeuvreCollection['playerOeuvre'] %}
                {% set index = loop.index %}
                {% set view = playerOeuvre.view %}
                {% set entity = data_data_entity_service.getByView(view) %}
                {% include '::view-item-card.html.twig' %}
            {% endfor %}
        </div>

        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="alert alert-info text-center mt-4">
                <strong><a href="{{ path('fos_user_registration_register') }}">M'inscrire</a> pour retrouver l'historique de toutes mes parties !</strong><br />
                <small>Déjà inscrit(e) ? <a href="{{ path('fos_user_security_login') }}">Me connecter</a>.</small>
            </div>
        {% endif %}

        <div class="text-right mt-3">
            <a href="{{ path('cliches_home_home_index') }}" class="btn btn-outline-primary btn-lg" title="Retourner à l'accueil" data-toggle="tooltip" data-placement="left"><span class="fas fa-sign-out-alt"></span></a>
        </div>
    </section>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}