{% extends "DATADataBundle::layout.html.twig" %}

{% block title %}
    Edition des Sources - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Edition des Sources :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('data_data_entity_index') }}">Items</a></li>
    <li class="breadcrumb-item"><a href="{{ path('data_data_entity_view', {'id': entity.id}) }}">{{ data_data_entity_service.get(entity, 'label') }}</a></li>
    <li class="breadcrumb-item active">Edition des sources</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "DATADataBundle:Entity:Sources/editSources_content.html.twig" %}
        </div>
    </section>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_data_data_editEntitySources') }}
{% endblock %}
