{{ form_start(form, {'attr': {'class': 'form-horizontal'}, 'action': path('data_data_entity_edit_sources', {'id': entity.id})}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.sources) }}
    </div>
    <br />
    {% endif %}
    
    <fieldset>
        <legend>Sources :</legend>

        <div class="">
            {{ form_row(form.sources) }}
        </div>
    </fieldset>
        <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-secondary" /></div>
{{ form_end(form) }}