{% if "label" in entityProperty.property  %}
    <div class="list-group-item">
        <strong>Nom</strong>
        <div>
            {% for labelC in entityProperty.value|json_decode %}
                {% if labelC.language == 'fr' %}{{ labelC.value }}{% endif %}
            {% endfor %}
        </div>
    </div>
{% elseif "description" in entityProperty.property %}
    <div class="list-group-item">
        <strong>Description</strong>
        <div>
            {% for labelC in entityProperty.value|json_decode %}
                {% if labelC.language == 'fr' %}{{ labelC.value }}{% endif %}
            {% endfor %}
        </div>
    </div>
{% elseif "aliases" in entityProperty.property %}
    <div class="list-group-item">
        <strong>Noms alternatifs</strong>
        <div>
            {% for labelC in entityProperty.value|json_decode %}
                {% if not loop.first > 0 %}, {% endif %}
                {% if labelC.language == 'fr' %}{{ labelC.value }}{% endif %}
            {% endfor %}
        </div>
    </div>
{% elseif "label" not in entityProperty.property and "description" not in entityProperty.property and "aliases" not in entityProperty.property %}
<div class="list-group-item">
    <strong>
        {% if entityProperty.value != null %}
            {% set entityPropertyValue = entityProperty.value|json_decode %}
            {% if entityPropertyValue.labels is defined %}
                {% if entityPropertyValue.labels.fr is defined %}
                    {{ entityPropertyValue.labels.fr.value | capitalize }} {% if displayPropertyId == true %}<small>{% if entityProperty.property matches '/^wd-/' %}<a href="https://www.wikidata.org/wiki/Property:{{ entityProperty.property | replace({'wd-': ''}) }}" target="_blank">{{ entityProperty.property }}</a>{% else %}{{ entityProperty.property }}{% endif %}</small>{% endif %}
                {% elseif entityPropertyValue.labels.en is defined %}
                    {{ entityPropertyValue.labels.en.value | capitalize }} {% if displayPropertyId == true %}<small>{% if entityProperty.property matches '/^wd-/' %}<a href="https://www.wikidata.org/wiki/Property:{{ entityProperty.property | replace({'wd-': ''}) }}" target="_blank">{{ entityProperty.property }}</a>{% else %}{{ entityProperty.property }}{% endif %}</small>{% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {{ entityProperty.property | capitalize }}
        {% endif %}
    </strong>
    <div>
        {% if entityProperty.value != null %}
            {% set entityPropertyValue = entityProperty.value|json_decode %}
            {% set displayQualifiers = true %}
            {% include "::property/property-dispatcher.html.twig" %}
        {% endif %}
    </div>
</div>
{% endif %}