{% if entityPropertyValue.type is defined and entityPropertyValue.type == "entity" and entityPropertyValue.values is defined %}
    {% include "::property/format/entity-property.html.twig" %}
{% elseif entityPropertyValue.type is defined and entityPropertyValue.type == "string" and entityPropertyValue.values is defined %}
    {% include "::property/format/string-property.html.twig" %}
{% elseif entityPropertyValue.type is defined and entityPropertyValue.type == "monolingualtext" and entityPropertyValue.values is defined %}
    {% include "::property/format/monolingualtext-property.html.twig" %}
{% elseif entityPropertyValue.type is defined and entityPropertyValue.type == "quantity" and entityPropertyValue.values is defined %}
    {% include "::property/format/quantity-property.html.twig" %}
{% elseif entityPropertyValue.type is defined and entityPropertyValue.type == "time" and entityPropertyValue.values is defined %}
    {% include "::property/format/time-property.html.twig" %}
{% else %}
    (Valeur inconnue)
{% endif %}