{# Gestion des qualificatifs #}
{% if value.qualifiers is defined and value.qualifiers | length > 0 %}
    <small class="d-inline">
        (
        <ul class="list-inline d-inline">
            {% for qualifierContainer in value.qualifiers %}
                {% if attribute(data_data_qualifiers_service.getQualifiers(), attribute(qualifierContainer, "property")) is defined %}
                    <li class="list-inline-item d-inline">
                        {% set displayQualifiers = false %}
                        {% set qualifierConfig = attribute(data_data_qualifiers_service.getQualifiers(), attribute(qualifierContainer, "property")) %}

                        <strong class="d-inline">
                            {{ qualifierConfig['label'] }}
                        </strong>
                        <span class="d-inline">
                            {% set entityPropertyValue = qualifierContainer %}
                            {% include "::property/qualifiers-dispatcher.html.twig" %}
                        </span>
                        {% if loop.last == false %}<span class="d-inline">;</span>{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        )
    </small>
{% endif %}
