{% if entityPropertyValue.type is defined and entityPropertyValue.type == "entity" and entityPropertyValue.values is defined %}
    {% include "::property/format/entity-qualifier.html.twig" %}
{% elseif entityPropertyValue.type is defined and entityPropertyValue.type == "string" and entityPropertyValue.values is defined %}
    {% include "::property/format/string-qualifier.html.twig" %}
{% elseif entityPropertyValue.type is defined and entityPropertyValue.type == "monolingualtext" and entityPropertyValue.values is defined %}
    {% include "::property/format/monolingualtext-qualifier.html.twig" %}
{% elseif entityPropertyValue.type is defined and entityPropertyValue.type == "quantity" and entityPropertyValue.values is defined %}
    {% include "::property/format/quantity-qualifier.html.twig" %}
{% elseif entityPropertyValue.type is defined and entityPropertyValue.type == "time" and entityPropertyValue.values is defined %}
    {% include "::property/format/time-qualifier.html.twig" %}
{% else %}
    (Valeur inconnue)
{% endif %}