{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block h1 %}Accueil - Administration{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ render(controller('DATASearchBundle:Search:search', {'access': 'true'})) }}
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="card mb-3">
                <div class="card-header">Entités</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{{path('data_data_entity_index')}}">Liste des oeuvres</a></li>
                        <li class="list-group-item"><a href="{{path('data_data_entityderivation_toDerive')}}">Entités à dériver</a> - <a href="{{path('data_data_entityderivation_derived')}}">Entités dérivées</a></li>
                    </ul>
                    <div class="card-body">
                        <strong>Statistiques:</strong>
                        <ul>
                            <li>Entités : {{ entitiesCount }}</li>
                            <li>View : {{ viewsCount }}</li>
                            <li>Propriétés : {{ propertiesCount }}</li>
                            <li>Alignemnents : {{ alignmentsCount }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">Memento Mori</div>
                <div class="card-body">
                    <ul>
                        <li><a href="{{path('data_mementomori_mementomori_index')}}">Liste</a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Outils</div>
                <div class="card-body">
                    <ul>
                        <li><a href="{{path('data_search_searchindex_buildindex')}}">Construction de l'index de recherche</a></li>
                        <li><a href="{{ path('data_teaching_teaching_setViewsNumber') }}">Mise à jour du compteur de Vues par Enseignements</a></li>
                        <li><a href="{{ path('data_entity_merge_merge') }}">Fusion par ID</a></li>
                        <li><a href="{{ path('data_administration_testdate_index') }}">Test des dates</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card mb-3">
                <div class="card-header">Pages publiques</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{{ path('data_administration_public_visit') }}">Visites</a></li>
                        <li class="list-group-item"><a href="{{ path('data_administration_reporting_index') }}">Signalements <label class="badge badge-info">{{ reportings }}</label></a></li>
                        <li class="list-group-item"><a href="{{path('data_administration_search_statistics')}}">Historique des recherches</a></li>
                    </ul>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Importation</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{{path('data_import_administration_index')}}">Validations <label class="badge badge-info">{{ import }}</label></a></li>
                        <li class="list-group-item"><a href="{{path('data_import_administration_massimport')}}">Imports de masse</a></li>
                        <li class="list-group-item"><a href="{{path('data_import_administration_wikidata')}}">Importations depuis Wikidata</a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Enseignements</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{{path('data_teaching_university_index')}}">Universités</a></li>
                        <li class="list-group-item"><a href="{{path('data_teaching_teaching_index')}}">Enseignements</a> | <a href="{{path('data_administration_teachingtest_index')}}">Par oeuvre</a> | <a href="{{path('data_administration_teachingtest_lastvotes')}}">Derniers votes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
