{% extends "TBTestedGameBundle::layout.html.twig" %}

{% block title %}Ajouter des items - {{ testedGame.title }} - {{ parent() }}{% endblock %}

{% block h1 %}Ajouter des items - {{ testedGame.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('tb_testedgame_testedgame_view', {'testedGame_id': testedGame.id}) }}">{{ testedGame.title }}</a></li>
    <li class="breadcrumb-item active">Ajouter des items</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% include "TBTestedGameBundle:TestedGame:AddItems/addItems_content.html.twig" %}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_tb_testedGame_addItems') }}
{% endblock %}
