{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.testedItems) }}
    </div>
    <br />
    {% endif %}

    <div class="row">
        <div class="col-12">
            <div class="well">
                <fieldset>
                    <div>
                        <div class="float-right">
                            <button type="button" id="buttonAddTestedItem" class="btn btn-primary"><span class="fas fa-plus"></span></button>
                        </div>
                        <legend>Items :</legend>
                    </div>

                    {{ form_widget(form.testedItems) }}
                </fieldset>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-primary btn-lg" /></div>
{{ form_end(form) }}