{% extends "TBPersonalPlaceBundle::layout.html.twig" %}

{% block h1 %}Mes parties{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="breadcrumb-item active">Mes parties</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron text-center">
                <h2>Bienvenue sur votre page personnelle !</h2>
                <p class="lead">Créez, modifiez, surveillez vos parties !</p>
                <br />
                <a class="btn btn-lg btn-primary" href="{{ path('tb_personalplace_testedgame_create') }}">Créer une nouvelle partie</a>
            </div>
        </div>
        <div class="col-sm-6">
            <h2>Mes parties</h2>

            {% for testedGame in testedGames %}
                {% extends "::themes/TB/tb_listTestedGame.html.twig" %}
            {% else %}
                <div class="alert alert-primary">
                    <p>Vous n'avez pas encore créé de partie. <a href="{{ path('tb_personalplace_testedgame_create') }}">Commencer l'aventure !</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
