{% extends "::themes/CAS/cas_signin.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    Confirmation d'inscription - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <div>
                <div class="pull-right"><img src="{{ asset('images/logo.png') }}" style="max-height: 40px;"/></div>
                <h2 class="form-signin-heading">Vérification</h2>
            </div>
            <br />
            {% block fos_user_content %}
                <p class="lead">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
