{% extends "::themes/CAS/cas_signin.html.twig" %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock %}

{% block content %}
    {% block fos_user_content %}
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}
