{% extends "DATASearchBundle::layout.html.twig" %}

{% block title %}
    Résultats de la recherche - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Résultat de la recherche
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Résultats</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-sm-12 alert-success">
                {{ flashMessage }}
            </div>
            <br />
        {% endfor %}
           
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    {{ render(controller('DATASearchBundle:Search:search', {'teaching': teaching, 'query': query})) }}
                </div>
                <div class="col-sm-6 text-right">
                    <p class="lead">{{ searchResults.getTotalItemCount }} résultat(s)</p>
                </div>
            </div>
        </div>
        {% if ppid is defined %}
            <p><span class="badge badge-info">Sélectionner une oeuvre pour l'ajouter à votre partie privée</span></p>
        {% endif %}

        <div class="row">
            {% for entity in searchResults %}
                {% set index = ((searchResults.getPaginationData.current-1)*100)+loop.index %}
                {% set view = data_data_entity_service.getMainView(entity) %}
                {% include '::view-item-card.html.twig' %}
            {% else %}
                <div class="col-12">
                    <div class="alert alert-info">Oups... Votre requête n'a retourné aucun résultat</div>
                </div>
            {% endfor %}
        </div>

        <div class="text-center">{{ knp_pagination_render(searchResults) }}</div>
    </section>
</div>
{% endblock %}