{# src/DATA/SearchBundle/Resources/views/Search/search.html.twig #}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}, 'action': path('data_search_search_search', {'teaching': teaching, 'query': query})}) }}
    <div class="form-group">
        {{ form_label(form.search, "Rechercher :", {'label_attr': {'class': 'control-label sr-only'}}) }}
        <div class="input-group">
            {{ form_widget(form.search, {'attr': {'value': query, 'placeholder': "Votre recherche", 'class': 'form-control input-lg', 'aria-describedby': 'button-addon'}}) }}
            <div class="input-group-append" id="button-addon">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
