{% extends "DATASearchBundle::layout.html.twig" %}

{% block title %}
    Résultats de la recherche - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Résultat de la recherche :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Résultats</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-sm-12">
        {{ dump(item) }}
    </section>
</div>
{% endblock %}