{{ form_start(form, {'attr': {'class': 'form-horizontal'}, 'action': path('data_teaching_teaching_edit', {'slug': teaching.slug})}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.name) }}
        {{ form_errors(form.year) }}
        {{ form_errors(form.university) }}
        {{ form_errors(form.onLine) }}
    </div>
    <br />
    {% endif %}

        
    <div class="form-group">
        {{ form_label(form.name, "Nom :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.name, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.year, "Année :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.year, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.university, "University :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.university, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group text-center">
        {{ form_widget(form.onLine) }}
        {{ form_label(form.onLine, 'En ligne', {'attr': {'class': 'control-label'}}) }}
    </div>

    <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-secondary" /></div>
{{ form_end(form) }}