{# src/DATA/TeachingBundle/Resources/views/Teaching/register.html.twig #}
 
{% extends "DATATeachingBundle::layout.html.twig" %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Edition
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('data_teaching_teaching_view', {'slug': teaching.slug}) }}">{{teaching.name}}</a></li>
    <li class="breadcrumb-item active">Edition</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Enseignement</strong>
            </div>
            <div class="card-body">
                {% include "DATATeachingBundle:Teaching:edit_content.html.twig" %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
