{# src/DATA/TeachingBundle/Resources/views/Teaching/index.html.twig #}
 
{% extends "DATATeachingBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Gestion des Enseignements
{% endblock %}
    
{% block contextual_menu %}
    <div class="pl-1 pt-1">
        <a class="btn btn-success" href="{{ path('data_teaching_teaching_register') }}">Ajouter un Enseignement</a>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-12 alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <h2>Liste des Enseignements :</h2>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>id</th>
            </tr>
            {% for teaching in teachings %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('data_teaching_teaching_view', { 'slug' : teaching.slug} ) }}">{{ teaching.name }}</a></td>
                    <td>{{ teaching.id }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" style="text-align: center; font-weight: bold;">Aucun enseignement.</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}