{% extends "DATATeachingBundle::layout.html.twig" %}

{% block title %}
    {{ teaching.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ teaching.name }}
{% endblock %}
    
{% block contextual_menu %}
    <div class="mt-1 ml-1">
        <a class="btn btn-secondary" href="{{ path('data_public_teaching_view', {'slug': teaching.slug}) }}" >Public</a>
        <a class="btn btn-primary" href="{{ path('data_teaching_teaching_edit', {'slug': teaching.slug}) }}" ><span class="fas fa-edit"></span></a>
        <a class="btn btn-danger main-JS-delete" href="{{ path('data_teaching_teaching_delete', {'slug': teaching.slug}) }}" ><span class="fas fa-trash-alt"></span></a>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">{{teaching.name}}</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-12">
                <article class="jumbotron">
                    <dl class="row">
                        <dt class="col-4 text-right">Année</dt>
                        <dd class="col-8">{{ teaching.year }}</dd>

                        <dt class="col-4 text-right">Université</dt>
                        <dd class="col-8"><a href="{{ path('data_teaching_university_view', {'slug': teaching.university.slug}) }}">{{ teaching.university.name }}</a></dd>

                        <dt class="col-4 text-right">En ligne sur Clichés</dt>
                        <dd class="col-8">{% if teaching.onLine == true %}Oui{% else %}Non{% endif %}</dd>

                        <dt class="col-4 text-right">API</dt>
                        <dd class="col-8"><a href="{{ path('get_api_data_teaching', {'id': teaching.id}) }}">Données structurée</a></dd>
                    </dl>
                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="well">
                    {{ render(controller('DATASearchBundle:Search:search', {'access': 'true', 'type': '', 'teaching': teaching.slug})) }}
                </div>
            </div>
        </div>

        <div class="row">
            <section class="col-12">
                <h2>Liste des oeuvres : ({{ listEntities.getTotalItemCount }})</h2>

                <div class="row">
                    {% for entity in listEntities %}
                        {% set index = ((listEntities.getPaginationData.current-1)*100)+loop.index %}
                        {% set view = data_data_entity_service.getMainView(entity) %}
                        {% include '::view-item-card.html.twig' %}
                    {% else %}
                        <div class="col-12">
                            <div class="alert alert-info">Aucune oeuvre.</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-center">{{ knp_pagination_render(listEntities) }}</div>
            </section>
        </div>
    </section>
</div>
{% endblock %}