{# src/DATA/AdministrationBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/DATA/data_layout.html.twig" %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Espace personnel - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block h1 %}{% endblock %}

{% block contextual_menu %}{% endblock %}

{% block breadcrumb %}
    {{parent()}}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}