{% extends "::themes/CAS/cas_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    Mot de passe - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Mot de passe
{% endblock %}

{% block h1 %}
    Mot de passe
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="breadcrumb-item active">Mot de passe</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Modification du mot de passe :</strong>
                </div>
                <div class="card-body">
                    {% block fos_user_content %}
                        {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
