{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
            {{ form_errors(form.current_password) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
        <br />
    {% endif %}

    <div class="form-group row">
        {{ form_label(form.current_password, "Actuel :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">
            {{ form_widget(form.current_password, {'attr': {'placeholder': 'Mot de passe actuel', 'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.plainPassword.first, "Nouveau :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Nouveau mot de passe', 'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.plainPassword.second, "Vérification :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirmer nouveau mot de passe', 'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <br />
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
