<div class="jumbotron">
    <h1 style="text-align: center;">Votre mot de passe a été modifié</h1>

    <div style="text-align: center;"><a href="{{ app.request.getSchemeAndHttpHost() }}"><img src="{{ app.request.getSchemeAndHttpHost() }}/web/images/logo-big.png" style="max-width: 150px;"/></a></div>
    <br />
    <p>Vous avez modifié le mot de passe associé à l'adresse mail <strong>{{ email }}</strong>.Cette modification a bien été prise en compte.</p>
    <br />
    <p><small>Si vous n'avez pas demandé la modification de votre mot de passe, contactez-nous au plus vite en répondant à cet email.</small></p>
</div>