{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.histoiredelartNewsletter) }}
        {{ form_errors(form.dataDatasetConfirmation) }}
        {{ form_errors(form.dataReportingConfirmation) }}
        {{ form_errors(form.clichesReportingConfirmation) }}
    </div>
    <br />
    {% endif %}
    
    <div class="form-group row">
        <div class="col-sm-6 text-right">
            {{ form_label(form.histoiredelartNewsletter, "Recevoir la newsletter de histoiredelart.fr:", {'label_attr': {'class': ''}}) }}
        </div>
        <div class="col-sm-6">
            {{ form_widget(form.histoiredelartNewsletter) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 text-right">
            {{ form_label(form.dataDatasetConfirmation, "Recevoir une confirmation par mail lorsqu'un jeu de données que j'ai importé a été traité :", {'label_attr': {'class': ''}}) }}
        </div>
        <div class="col-sm-6">
            {{ form_widget(form.dataDatasetConfirmation) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 text-right">
            {{ form_label(form.dataReportingConfirmation, "Recevoir une confirmation par mail lorsqu'une de mes suggestions a été traitée sur DATA :", {'label_attr': {'class': ''}}) }}
        </div>
        <div class="col-sm-6">
            {{ form_widget(form.dataReportingConfirmation) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 text-right">
            {{ form_label(form.clichesReportingConfirmation, "Recevoir une confirmation par mail lorsqu'une de mes suggestions a été traitée sur Clichés! :", {'label_attr': {'class': ''}}) }}
        </div>
        <div class="col-sm-6">
            {{ form_widget(form.clichesReportingConfirmation) }}
        </div>
    </div>

    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-secondary" value="Soumettre" /></div>
{{ form_end(form) }}