{# src/HDA/AdministrationBundle/Resources/views/Index/index.html.twig #}
 
{% extends "CLICHESAdministrationBundle::layout.html.twig" %}
 
{% block title %}
    Test - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Test
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block h1 %}
    Test
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block content %}
    {{ dump(dump) }}
{% endblock %}

{% block javascript %}{{ parent() }}{% endblock %}