{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
            {{ form_errors(form.title) }}
            {{ form_errors(form.isRandomized) }}
            {{ form_errors(form.isPrivate) }}
        </div>
        <br />
    {% endif %}
    <input type="hidden" id="iconURL" value="{{ testedGame.icon.orignalFileName }}" />

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <fieldset>
                    <legend>Partie :</legend>

                    <div class="form-group">
                        {{ form_label(form.title, "Titre :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.title, {'attr': {'placeholder': 'Typologie de céramique chinoise', 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            {{ form_widget(form.isRandomized) }}
                            {{ form_label(form.isRandomized) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            {{ form_widget(form.isPrivate) }}
                            {{ form_label(form.isPrivate) }}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-primary" /></div>
{{ form_end(form) }}