{% extends "TBPersonalPlaceBundle::layout.html.twig" %}

{% block title %}Édition - {{ testedGame.title }} - {{ parent() }}{% endblock %}

{% block h1 %}Édition - {{ testedGame.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('tb_personalplace_testedgame_view', {'testedGame_id': testedGame.id}) }}">{{ testedGame.title }}</a></li>
    <li class="breadcrumb-item active">Édition</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% include "TBPersonalPlaceBundle:TestedGame:Edit/edit_content.html.twig" %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}
