{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.content) }}
    </div>
    <br />
    {% endif %}
    
    <fieldset>
        <legend>Bloc-Note :</legend>

        <div class="form-group">
            {{ form_label(form.content, "Contenu :", {'label_attr': {'class': 'col-12 col-sm-4 control-label'}}) }}
            <div class="col-12">
                {{ form_widget(form.content, {'attr': {'placeholder': '', 'class': 'form-control', 'rows': '10'}}) }}
            </div>
        </div>
    </fieldset>

    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-secondary" /></div>
{{ form_end(form) }}