{# src/DATA/DataBundle/Resources/views/Entity/edit.html.twig #}
 
{% extends "DATADataBundle::layout.html.twig" %}

{% block title %}
    Bloc-Note - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Edition Bloc-Note :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('data_data_entity_index') }}">Items</a></li>
    <li class="breadcrumb-item"><a href="{{ path(data_data_entity_routing_service.getRoutingView(), {'id': entity.id}) }}">{{ data_data_entity_service.get(entity, 'label') }}</a></li>
    <li class="breadcrumb-item active">Edition Bloc-Note</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% include "DATADataBundle:Entity:Pad/edit_content.html.twig" %}
    </section>
</div>
{% endblock %}
