{{ form_start(form, {'attr': {'class': 'form-horizontal'}, 'action': path('data_teaching_university_edit', {'slug': university.slug})}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.name) }}
    </div>
    <br />
    {% endif %}
    
    <fieldset>
        <legend>University :</legend>
        
        <div class="form-group">
            {{ form_label(form.name, "Nom :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.name, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
        <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-secondary" /></div>
{{ form_end(form) }}