{# src/DATA/TeachingBundle/Resources/views/University/index.html.twig #}
 
{% extends "DATATeachingBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Gestion des universités
{% endblock %}
    
{% block contextual_menu %}
    <a class="btn btn-success" href="{{ path('data_teaching_university_register') }}">Ajouter une Université</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Universités</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-lg-7 alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
           
        <div class="well">   
            <h2>Liste des Universités :</h2>
            <table class="table table-striped" style="width: 100%">
                <tr>
                    <th style="max-width: 30px;">#</th>
                    <th style="text-align: left;">Nom</th>
                </tr>
                {% for university in universities %}
                    <tr>
                        <td style="text-align: left;">{{ loop.index }}</td>
                        <td style="text-align: left;"><a href="{{ path('data_teaching_university_view', { 'slug' : university.slug} ) }}">{{ university.name }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center; font-weight: bold;">Aucune université.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</div>
{% endblock %}