{# src/DATA/TeachingBundle/Resources/views/University/register.html.twig #}
 
{% extends "DATATeachingBundle::layout.html.twig" %}

{% block title %}
    Insertion - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Nouvelle université
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Insertion</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "DATATeachingBundle:University:register_content.html.twig" %}
        </div>
    </section>
</div>
{% endblock %}
