{# src/DATA/TeachingBundle/Resources/views/University/view.html.twig #}
 
{% extends "DATATeachingBundle::layout.html.twig" %}

{% block title %}
    {{ university.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ university.name }}
{% endblock %}
    
{% block contextual_menu %}
    <div class="mt-1 ml-1">
        <a class="btn btn-secondary" href="{{ path('data_public_university_view', {'slug': university.slug}) }}" >Public</a>
        <a class="btn btn-primary" href="{{ path('data_teaching_university_edit', {'slug': university.slug}) }}" ><span class="fas fa-edit"></span></a>
        <a class="btn btn-danger main-JS-delete" href="{{ path('data_teaching_university_delete', {'slug': university.slug}) }}" ><span class="fas fa-trash-alt"></span></a>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">{{university.name}}</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <tr>
                <th style="max-width: 30px;">#</th>
                <th style="text-align: left;">Nom</th>
            </tr>
            {% for teaching in teachings %}
                <tr>
                    <td style="text-align: left;">{{ loop.index }}</td>
                    <td style="text-align: left;"><a href="{{ path('data_public_teaching_view', { 'slug' : teaching.slug} ) }}">{{ teaching.name }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" style="text-align: center; font-weight: bold;">Aucun enseignement.</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}