{% extends "DATADataBundle::layout.html.twig" %}

{% block title %}
    Édition - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Édition entité :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('data_data_entity_view', {'id': entity.id}) }}">{{ data_data_entity_service.get(entity, 'label') }}</a></li>
    <li class="breadcrumb-item active">Édition d'une entité</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#propertiesModal">
                        Afficher les propriétés
                    </button>
                </div>
            {% include "DATADataBundle:Entity:Edit/edit_content.html.twig" %}
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="propertiesModal" tabindex="-1" role="dialog" aria-labelledby="propertiesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="propertiesModalLabel">Liste des propriétés</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">label</th>
                        <td>Label</td>
                    </tr>
                    <tr>
                        <th scope="row">description</th>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <th scope="row">aliases</th>
                        <td>Aliases</td>
                    </tr>
                    <tr>
                        <th scope="row">P31</th>
                        <td>Nature de l'élément</td>
                    </tr>
                    <tr>
                        <th scope="row">P18</th>
                        <td>Image</td>
                    </tr>
                    <tr>
                        <th scope="row">P571</th>
                        <td>Date de création</td>
                    </tr>
                    <tr>
                        <th scope="row">P135</th>
                        <td>Mouvement artistique</td>
                    </tr>
                    <tr>
                        <th scope="row">P17</th>
                        <td>Pays</td>
                    </tr>
                    <tr>
                        <th scope="row">P276</th>
                        <td>Lieu</td>
                    </tr>
                    <tr>
                        <th scope="row">P1476</th>
                        <td>Titre (original)</td>
                    </tr>
                    <tr>
                        <th scope="row">P136</th>
                        <td>Genre</td>
                    </tr>
                    <tr>
                        <th scope="row">P170</th>
                        <td>Créateur</td>
                    </tr>
                    <tr>
                        <th scope="row">P495</th>
                        <td>Pays d'origine</td>
                    </tr>
                    <tr>
                        <th scope="row">P793</th>
                        <td>Evènement clé</td>
                    </tr>
                    <tr>
                        <th scope="row">P88</th>
                        <td>Commanditaire</td>
                    </tr>
                    <tr>
                        <th scope="row">P528</th>
                        <td>Numéro de catalogue</td>
                    </tr>
                    <tr>
                        <th scope="row">P186</th>
                        <td>Matériau</td>
                    </tr>
                    <tr>
                        <th scope="row">P2079</th>
                        <td>Technique</td>
                    </tr>
                    <tr>
                        <th scope="row">P180</th>
                        <td>Dépeint</td>
                    </tr>
                    <tr>
                        <th scope="row">P195</th>
                        <td>Collection</td>
                    </tr>
                    <tr>
                        <th scope="row">P217</th>
                        <td>Numéro d'inventaire</td>
                    </tr>
                    <tr>
                        <th scope="row">P608</th>
                        <td>Exposition</td>
                    </tr>
                    <tr>
                        <th scope="row">P127</th>
                        <td>Propriétaire</td>
                    </tr>
                    <tr>
                        <th scope="row">P1071</th>
                        <td>Lieu de fabrication</td>
                    </tr>
                    <tr>
                        <th scope="row">P2048</th>
                        <td>Hauteur</td>
                    </tr>
                    <tr>
                        <th scope="row">P2049</th>
                        <td>Largeur</td>
                    </tr>
                    <tr>
                        <th scope="row">P373</th>
                        <td>Catégorie Commons</td>
                    </tr>
                    <tr>
                        <th scope="row">P910</th>
                        <td>Catégorie</td>
                    </tr>
                    <tr>
                        <th scope="row">P973</th>
                        <td>Décrit à l'URL</td>
                    </tr>
                    <tr>
                        <th scope="row">P6216</th>
                        <td>Droits d'auteur</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}

{{ encore_entry_script_tags('js_data_data_editEntity') }}
{% endblock %}

