{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
            {{ form_errors(form.properties) }}
        </div>
        <br />
    {% endif %}

    <div class="text-center"><input type="submit" class="btn btn-secondary" /></div>

    <fieldset>
        <legend>SameAs :</legend>

        <div class="form-group">
            {{ form_label(form.wikidataSameAs, "SameAs :", {'label_attr': {'class': 'col-12 col-sm-4 control-label'}}) }}
            <div class="col-12">
                {{ form_widget(form.wikidataSameAs, {'attr': {'placeholder': '', 'class': 'form-control', 'rows': '10'}}) }}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Propriétés :</legend>

        <div class="">
            {{ form_row(form.properties) }}
        </div>
    </fieldset>
    <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-secondary" /></div>
{{ form_end(form) }}