{# for field in data_image_view_service.getListFieldsForView() %}
    <dl class="dl-horizontal list-group-item">
        <dt>{{ field['label'] }} :</dt>
        <dd>
            <span class="text-success">{{ data_data_entity_service.valueByFieldForView(field['field'], view) }}</span>
        </dd>
    </dl>
{% endfor #}