<div class="btn-group" role="group" >
    <a href="{{ path('data_image_view_edit', {'view_id': view.id}) }}" class="btn btn-primary" title="Éditer"><span class="fas fa-edit"></span></a>
    <a href="{{ path('data_image_image_edit', {'view_id': view.id}) }}" class="btn btn-primary" title="Image"><span class="fas fa-images"></span></a>
    <a href="{{ path('data_image_view_edit_teaching', {'id': view.id}) }}" class="btn btn-primary" title="Enseignements"><span class="fas fa-chalkboard-teacher"></span></a>
    <a href="{{ path('data_data_entity_view_unrelated', {'id': view.id}) }}" class="btn btn-warning">Délier</a>
    <a href="{{ path('data_image_view_delete', {'view_id': view.id}) }}" class="btn btn-danger main-JS-delete" title="Supprimer"><span class="fas fa-trash-alt"></span></a>
</div>