{% set countFullPlayerProposalField = 0 %}
{% for playerOeuvre in relatedView['proposals'] %}
    {% set fullPlayerProposalField = false %}
    {% for playerProposalField in cliches_player_playerproposalfield_service.getByPlayerProposal(cliches_player_playerproposal_service.getPlayerProposalByPlayerOeuvre(playerOeuvre)) %}
        {% if playerProposalField.value is not empty %}{% set fullPlayerProposalField = true %}{% endif %}
    {% endfor %}

    {% if fullPlayerProposalField == true %}
        {% set countFullPlayerProposalField = countFullPlayerProposalField + 1 %}
    {% endif %}
{% endfor %}

<div class="card-group" id="view-views-proposals-{{ view.id }}" role="tablist" aria-multiselectable="true" style="margin: 0px;">
    <div class="card">
        <div class="card-header" role="tab" id="view-views-proposalsHeading-{{ view.id }}">
            <a role="button" data-toggle="collapse" data-parent="#view-views-proposals-{{ view.id }}" href="#view-views-proposalsCollapse-{{ view.id }}" aria-expanded="false" aria-controls="view-views-proposalsCollapse-{{ view.id }}">
                <strong>Rempli :</strong> {{ countFullPlayerProposalField }}/{{ cliches_player_playeroeuvre_service.countByView(view) }}
            </a>
        </div>
        <div id="view-views-proposalsCollapse-{{ view.id }}" class="card-collapse collapse" role="tabcard" aria-labelledby="view-views-proposalsHeading-{{ view.id }}">
            <div class="card-body">
                <div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for playerOeuvre in relatedView['proposals'] %}
                        {% set fullPlayerProposalField = false %}
                        {% for playerProposalField in cliches_player_playerproposalfield_service.getByPlayerProposal(cliches_player_playerproposal_service.getPlayerProposalByPlayerOeuvre(playerOeuvre)) %}
                            {% if playerProposalField.value is not empty %}{% set fullPlayerProposalField = true %}{% endif %}
                        {% endfor %}

                        {% if fullPlayerProposalField == true %}
                            {% set countFullPlayerProposalField = countFullPlayerProposalField + 1 %}
                            <div class="card">
                                <div class="card-header" role="tab" id="heading-{{ view.id }}-{{ loop.index }}">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion-{{ view.id }}-{{ loop.index }}" href="#collapse-{{ view.id }}-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ view.id }}-{{ loop.index }}">
                                        #{{ loop.index }}
                                    </a>
                                </div>
                                <div id="collapse-{{ view.id }}-{{ loop.index }}" class="card-collapse collapse" role="tabcard" aria-labelledby="heading-{{ view.id }}-{{ loop.index }}">
                                    <div class="card-body">
                                        <ul>
                                            {% for playerProposalField in cliches_player_playerproposalfield_service.getByPlayerProposal(cliches_player_playerproposal_service.getPlayerProposalByPlayerOeuvre(playerOeuvre)) %}
                                                <li>{{ playerProposalField.field }} : >{{ playerProposalField.value }}<</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="card card-info">
                            Pas de données ...
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>