{% for teaching in relatedView['teachings'] %}
    {% set nodata = true %}
    {% for teachingTest in teaching['teachingTests'] if teachingTest['teachingTestVotes']|length > 0 %}
        {% set nodata = false %}
    {% endfor %}

    <div class="card">
        <div class="card-header">
            {% if nodata == true %}<div class="float-right"><span class="badge badge-info">No Data</span></div>{% endif %}
            <a href="{{path('data_teaching_teaching_view', {'slug': teaching['teaching'].slug})}}">{{teaching['teaching'].name}}</a>
        </div>
        {% if nodata == false %}
            <div class="card-body">
                <div class="list-group list-group-flush">
                {% for teachingTest in teaching['teachingTests'] if teachingTest['teachingTestVotes']|length > 0 %}
                    <div class="list-group-item">
                        <strong>{{ teachingTest['teachingTestVotesOui']|length }} oui | {{ teachingTest['teachingTestVotesNon']|length }} non <span class="fas fa-chevronright"></span></strong>
                        {{ (teachingTest['teachingTestVotesOui']|length*100)/teachingTest['teachingTestVotes']|length }}% de chance
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% else %}
    <p class="text-center">Pas d'enseignement ...</p>
{% endfor %}