{% if data_data_entity_service.getSources(entity) != null %}
    <div class="card mb-3">
        <div class="card-header">Sources</div>
        <ul class="list-group list-group-flush">
            {% for source in data_data_entity_service.getSources(entity) %}
                <li class="list-group-item">{% if source.authorityControl == true %}<span class="fas fa-thumbs-up" title="Ceci est une notice d'autorité"></span> {% endif %}<a href="{{ source.url }}" target="_blank">{{ source.title }} <span class="fas fa-external-link-alt"></span></a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}