<div class="card mb-3">
    <div class="card-header">Informations Système</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Crée :</strong> le {{ entity.createDate|date('d-m-Y') }}{% if entity.createUser != null %}, par <a href="{{ path('cas_administration_user_view', {'id': entity.createUser.id}) }}">{{ entity.createUser.username }}</a>{% endif %}
        </li>
        <li class="list-group-item">
            <strong>Dernière MAJ :</strong>
            {% if entity.updateUser != null %}le {{ entity.updateDate|date('d-m-Y') }}, par <a href="{{ path('cas_administration_user_view', {'id': entity.updateUser.id}) }}">{{ entity.updateUser.username }}</a>
            {% else %}Pas de mise à jour
            {% endif %}
        </li>
    </ul>
</div>