<div class="card mb-3">
    <div class="card-header">Enseignements</div>
    <ul class="list-group list-group-flush">
        {% for teaching in teachings %}
            <li class="list-group-item">
                <a href="{{ path('data_teaching_teaching_view', {'slug': teaching.slug}) }}">{{teaching.name}}</a>
            </li>
        {% else %}<li class="list-group-item alert alert-warning">Pas d'enseignement ...</li>
        {% endfor %}
    </ul>
</div>