{% for relatedView in relatedViews %}
    {% set view = relatedView['view'] %}
    {% set isExcluded = cliches_player_playerexclude_service.isExcluded(view) %}
    <div class="card mb-3">
        {% include 'DATADataBundle:Entity:View/Views/view-views-image.html.twig' %}
        <div class="list-group list-group-flush">
            <div class="list-group-item text-center">
                {% include 'DATADataBundle:Entity:View/Views/view-views-actions.html.twig' %}
            </div>
            {% include 'DATADataBundle:Entity:View/Views/view-views-informations.html.twig' %}
            <div class="list-group-item">
                <strong>Crédit :</strong> {{ data_image_image_service.getOneByView(view).copyright }}
            </div>
            {% if relatedViews|length > 1 %}<div class="list-group-item">
                <strong>Fusionner vers :</strong>
                {{ render(controller('DATADataBundle:EntityViews:mergeViews', {'view_id': view.id})) }}
            </div>{% endif %}
            <div class="list-group-item">
                <strong>Clichés :</strong>
                <div class="d-inline">Tombé {{ cliches_player_playeroeuvre_service.countByView(view) }} fois
                    {% if isExcluded == true %}<a href="{{ path('data_data_entity_view_exclusion', {'view_id': view.id}) }}" class="btn btn-warning btn-sm" type="button">Inclure</a>
                    {% else %}<a href="{{ path('data_data_entity_view_exclusion', {'view_id': view.id}) }}" class="btn btn-primary btn-sm" type="button" >Exclure</a>
                    {% endif %}
                </div>
            </div>
            <div class="list-group-item p-0">
                {% include 'DATADataBundle:Entity:View/Views/view-views-teaching.html.twig' %}
            </div>
            <div class="list-group-item p-0">
                {% include 'DATADataBundle:Entity:View/Views/view-views-proposals.html.twig' %}
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger">Pas de vues relatives</div>
{% endfor %}