{% if pad != null %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="float-right"><a class="btn btn-sm btn-secondary" href="{{ path('data_data_entity_edit_pad', {'id': entity.id}) }}" title="Editer le bloc-note" ><span class="fas fa-edit"></span></a></div>
            Bloc-notes
        </div>
        <div class="card-body">
            {% if pad.content != "" %}
                {{ pad.content|nl2br }}
            {% else %}
                <p class="alert alert-info">Bloc-note vide.</p>
            {% endif %}
        </div>
    </div>
{% else %}
    <a class="btn btn-block btn-primary mb-3" href="{{ path('data_data_entity_edit_pad', {'id': entity.id}) }}" >Ajouter un bloc-note</a>
{% endif %}