<div class="card mb-3">
    <div class="card-header">
        {% if entity.enrichmentStatus == 1 %}<a href="https://www.wikidata.org/wiki/{{ qwd }}" class="float-right" target="_blank"><small>{{ qwd }}</small></a>{% endif %}
        Informations
    </div>
    <div class="list-group list-group-flush">
        {% for entityProperty in properties %}
            {% if entityProperty.property != 'wd-sitelinks' and entityProperty.property != 'wd-wikipedia-frwiki' and entityProperty.property != 'wd-wikipedia-enwiki' %}
                {% set displayPropertyId = true %}
                {% include '::property/property.html.twig' %}
            {% endif %}
        {% endfor %}
    </div>
</div>