{% if data_data_entity_service.getWikipedia(entity, 'fr') != null %}
    {% set wikipediaObj = data_data_entity_service.getWikipedia(entity, 'fr') %}
    {% set wikipediaContent = wikipediaObj.value|json_decode %}
    <div class="card mb-3">
        <div class="card-header"><a href="https://fr.wikipedia.org/wiki/{{ wikipediaContent.title }}" target="_blank">Wikipedia</a></div>
        <div class="card-body">
            {{ wikipediaContent.extract | raw }}
        </div>
    </div>
{% endif %}