{% extends "TBHomeBundle::layout.html.twig" %}

{% block title %}Toutes les parties - {{ parent() }}{% endblock %}

{% block h1 %}Toutes les parties{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Toutes les parties</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="card">
                <div class="list-group">
                {% for testedGame in testedGames %}
                    {% if loop.index is not divisibleby(2) %}
                        {% extends "::themes/TB/tb_listTestedGame.html.twig" %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card">
                <div class="list-group">
                {% for testedGame in testedGames %}
                    {% if loop.index is divisibleby(2) %}
                        {% extends "::themes/TB/tb_listTestedGame.html.twig" %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}