{% extends "TBHomeBundle::layout.html.twig" %}

{% block title %}Bienvenue sur ConfusArt - {{ parent() }}{% endblock %}

{% block h1 %}Bienvenue sur ConfusArt{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="alert alert-primary">
        <strong>À vous de jouer !</strong> Vous avez apprécié le jeu ? Contribuez à son enrichissement en créant de nouvelles parties sur de nouvelles thématiques !
    </div>
    <div class="row">
        <div class="col-12 col-sm-7">
            <div class="card">
                <div class="list-group">
                {% for testedGame in testedGames %}
                    {#% extends "::themes/TB/tb_listTestedGame.html.twig" %#}
                {% endfor %}
                    <div class="list-group-item list-group-item-btn">
                        <a href="{{ path('tb_home_home_getAllTestedGames') }}" class="btn btn-block btn-lg btn-success btn-list-group-item btn-list-group-item-radius-bottom">Afficher toutes les parties</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-5">
            <h1 class="d-none">Bienvenue sur Clichés!</h1>
            <div class="card">
                <div class="list-group">
                    <div class="list-group-item text-center list-group-item-btn">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('tb_testedgame_testedgame_create') }}" class="btn btn-lg btn-block btn-success btn-list-group-item btn-list-group-item-radius-top"><i class="fa fa-plus" aria-hidden="true"></i> Créer une partie</a>
                        {% else %}
                            <a href="{{ path('tb_home_home_registrationArg') }}" class="btn btn-lg btn-block btn-success btn-list-group-item btn-list-group-item-radius-top"><i class="fa fa-user" aria-hidden="true"></i> Inscris-toi et crée tes propres parties !</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}