{% extends "CASAdministrationBundle::layout.html.twig" %}

{% block title %}
    Utilisateurs - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block h1 %}
    Utilisateurs
{% endblock %}

{% block brandtitle %}
    Utilisateurs
{% endblock %}

{% block contextual_menu %}
    {{ knp_pagination_render(users) }}
{% endblock %}

{% block content %}
    <div class="row">
        <section id="content" class="col-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <p><a href="{{ path('cas_administration_user_getadmin') }}">Voir uniquement les administrateurs</a></p>

            <table class="table table-bordered table-striped">
                <caption>{{ users.getTotalItemCount }}</caption>
                <tr>
                    <th>#</th>
                    <th>Mail</th>
                    <th>Rôle</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ ((users.getPaginationData.current-1)*100)+loop.index }}</td>
                    <td><a href="{{ path('cas_administration_user_view', {'id': user.id}) }}"><span class="fas fa-user"></span> {{ user.email }}</a></td>
                    <td>{{ user.roles|join(', ') }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="text-center">{{ knp_pagination_render(users) }}</div>
        </section>
    </div>
{% endblock %}
