/*
    Created on : 2 août 2015, 09:50:12
    Author     : karlpineau
*/


/* Structure */
body {
    background-color: #f9fcfb;
}

/* Buttons */
.btn-hda-cta-main {
    background-color: #ff5e5e;
    color: #f9fcfb;
}

.vh-80 {
    max-height: 80vh !important;
}

.mt-6 {
    margin-top: 4rem !important;
}

.mt-7 {
    margin-top: 5rem !important;
}

.mt-8 {
    margin-top: 7rem !important;
}

.card-title {
    margin-bottom: 0;
}

.no-link, .no-link:hover, .no-link:active, .no-link:visited, .no-link:focus {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}