body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #151515;
    color: #fff;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin .in {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .out {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-success {
    color: #ffffff;
    background-color: #77b300;
    border-color: #77b300;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #558000;
    border-color: #4e7600;
}

.btn-success:focus, .btn-success.focus {
    color: #ffffff;
    background-color: #558000;
    border-color: #223300;
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #558000;
    border-color: #4e7600;
}

a, a:hover, a:focus {
    color: #888888;
}