/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 août 2015, 09:50:12
    Author     : karlpineau
*/

.container-testedGame-list {
    background-size: 100%;
    background-position: center;
    min-height: 150px;
}

.h3-testedGame-list, .h3-testedGame-list:focus, .h3-testedGame-list:hover {
    color:#FFF;
    text-shadow: #000 1px 1px, #000 -2px 2px, #000 -1px -1px, #000 1px -1px;
    font-size: 28px;
}

.strong-testedGame-list, .strong-testedGame-list > a {
    color:#FFF;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
    letter-spacing: 0.8px;
}

.btn-play {
    min-height: 75px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-tb-layout {
    height: 250px;
    width: 250px;
    margin-bottom: 0px;
    margin-top: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-cliche-tb {
    max-height: 225px;
    max-width: 225px;
}

.divInfoPlace {
    height: 60px;
    width: 250px;
    margin-bottom: 10px;

    background-color: #CCCCCC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.infoPlace {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.buttonsInfoPlace {
    height: 100%;
    display: flex;
    align-items: center;
}
