/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 août 2015, 09:50:12
    Author     : karlpineau
*/

html, body {
    height: 100%;
}

#header-main {
    margin-bottom: 0px;
}

.container-fluid {
    min-height: 100%;
}

#container-player {
    min-height: 100%;
}

#droppable-container {
    height: 100%;
    padding-top: 10px;
}

#draggable-container {
    min-height: 92%;
    max-height: 92%;
    overflow-y: auto;
    padding: 0px;
    background-color: #CCCCCC;
    border-left: 1px solid #000;
    right: 1px;
    max-width: 190px;
}

.draggable-header {
    width: 100%;
    background-color: #222;
    color: #888888;
    padding: 10px;
}

.draggable-header > h2 {
    margin: 0px;
    font-size: 14px;
    color: #888888;
}

.draggable-content {
    padding-right: 1px;
}

.draggable-footer {
    margin-top: 20px;
}

.draggable-footer .btn {
    border-radius: 0px !important;
}

.draggable-footer .alert {
    border-radius: 0px !important;
    margin-bottom: 0px;
}

.giphy {
    max-width: 160px !important;
    max-height: 200px !important;
}

.giphy-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable-text {
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px 12px 6px 12px;
    margin: 10px 10px 10px 0;

    z-index: 100;

    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    box-sizing: border-box;

    color: rgb(51, 51, 51);
    cursor: grab;
    cursor: -webkit-grab;

}

.ifaundo {
    cursor: pointer;
    margin-left: 5px;
}

.image-cliche-tb {
    max-height: 225px;
    max-width: 225px;
}

.thumbnail-tb-player {
    height: 250px;
    width: 250px;
    margin-bottom: 0px;
    margin-top: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable {
    margin-top: 0px;
}

.droppable {
    height: 60px;
    width: 250px;
    background-color: #CCCCCC;
    z-index: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
}

.infoPlace {
    line-height: 55px;
    color: #000;
    font-size: 10px;
}