/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}
body {
  height: 100%;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */

  background-color: #222222;
  padding-top: 10px;
}

