{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    {{ privatePlayer.title }} - Mes collections - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Edition - {{ privatePlayer.title }}
{% endblock %}

{% block h1 %}
    Edition - {{ privatePlayer.title }}
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
    <li class="breadcrumb-item"><a href="{{ path('cliches_personalplace_privateplayer_index') }}">Mes collections</a></li>
    <li class="breadcrumb-item"><a href="{{ path('cliches_personalplace_privateplayer_view', {'id': privatePlayer.id}) }}">{{ privatePlayer.title }}</a></li>
    <li class="breadcrumb-item active">Edition</li>
{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% include "CLICHESPersonalPlaceBundle:PrivatePlayer:Register/register_content.html.twig" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}