{# src/DATA/DataBundle/Resources/views/layout.html.twig #}
 
{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}
    
{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %} 

{% block h1 %}{% endblock %}

{% block contextual_menu %}{% endblock %}

{% block breadcrumb %}
    {{parent()}}
{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}