{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    Parties privées - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Parties privées
{% endblock %}

{% block h1 %}
    Mes parties privées :
{% endblock %}

{% block contextual_menu %}
    <div class="pt-1 pl-1">
        <a href="{{ path('cliches_personalplace_privateplayer_register') }}" class="btn btn-primary"><span class="fas fa-plus"></span> Créer</a>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
    <li class="breadcrumb-item active">Mes collections</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <section class="row">
        <div class="col-12">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                Créez et partagez vos propres collections de clichés, correspondant à vos besoins précis.
                <a href="{{ path('cliches_personalplace_privateplayer_register') }}">Créer une collection</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <h2>Collections</h2>

            <ul>
                {% for privatePlayer in privatePlayers %}
                    <li><a href="{{ path('cliches_personalplace_privateplayer_view', {'id': privatePlayer.id}) }}">{{ privatePlayer.title }}</a></li>
                {% else %}
                    <li class="text-info">Pas de partie pour le moment</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
