{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    {{ privatePlayer.title }} -Parties privées - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    {{ privatePlayer.title }}
{% endblock %}

{% block h1 %}
    {{ privatePlayer.title }}
{% endblock %}

{% block contextual_menu %}
    <div class="pl-1 pt-1">
        <a href="{{ path('cliches_personalplace_privateplayer_edit', {'id': privatePlayer.id }) }}" class="btn btn-primary"><span class="fas fa-edit"></span></a>
        <a href="{{ path('cliches_personalplace_privateplayer_remove', {'id': privatePlayer.id }) }}" class="btn btn-danger main-JS-delete"><span class="fas fa-remove"></span></a>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
    <li class="breadcrumb-item"><a href="{{ path('cliches_personalplace_privateplayer_index') }}">Mes collections</a></li>
    <li class="breadcrumb-item active">{{ privatePlayer.title }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Rechercher des clichés</h3>
                    {{ render(controller('DATASearchBundle:Search:search', {'type': ''})) }}
                    <div class="alert alert-primary" role="alert">
                        <strong>Vous ne trouvez pas le cliché que vous voulez ?</strong> N'hésitez pas à nous l'envoyer pour enrichir la base ! <a href="{{ path('data_public_home_contribute') }}">Comment contribuer à Clichés ?</a>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4>Ajouter des clichés à ma collection</h4>

                            <p>Pour ajouter des clichés à votre collection, recherchez tout d'abord une oeuvre (ci-dessus).
                                Puis, sur la notice de l'oeuvre, sous les photographies de l'oeuvre, vous trouverez une section "Mes collections". Dépliez l'onglet puis sélectionnez la collection à laquelle vous souhaitez ajouter le cliché.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Partager ma collection</h3>
                    <ul>
                        <li>Lien public de la collection : <a href="{{ path('cliches_home_privateplayer_view', {'publicId': privatePlayer.publicId})  }}">{{ app.request.getSchemeAndHttpHost() }}/{{ path('cliches_home_privateplayer_view', {'publicId': privatePlayer.publicId})  }}</a></li>
                        <li>Session de jeu basée sur la collection : <a href="{{ path('cliches_player_session_load', {'type': 'privatePlayer', 'id': privatePlayer.id, 'mode': 'modeField'}) }}">Nouvelle partie</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3>Liste des clichés de la collection ({{ privatePlayer.views | length }})</h3>
        </div>
    {% for view in privatePlayer.views %}
        {% set entity = data_data_entity_service.getByView(view) %}
        {% include '::view-item-card.html.twig' %}
    {% endfor %}
    </div>
{% endblock %}
