{% extends "HOMEHomeBundle::layout.html.twig" %}

{% block h1 %}histoiredelart.fr{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

<div class="row">
    <div class="col-10 offset-1">
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active mx-auto">
                        <img src="{{ asset('images/HOME_home/1.jpg') }}" class="d-block h-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Chartres ou Amiens ?</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/HOME_home/2.jpg') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Latour ou Caravage ?</h5>
                        </div>
                    </div>
                    <div class="carousel-item mx-auto">
                        <img src="{{ asset('images/HOME_home/3.jpg') }}" class="d-block h-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Morte ou pas morte ?</h5>
                        </div>
                    </div>
                    <div class="carousel-item mx-auto">
                        <img src="{{ asset('images/HOME_home/4.jpg') }}" class="d-block h-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Postimpressionnisme ou pointillisme ?</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/HOME_home/5.jpg') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Classique ou baroque ?</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 mt-5 text-center">
        <a class="btn btn-lg btn-hda-cta-main" href="{{ path('cliches_home_home_index') }}">Découvrir Clichés!</a>
    </div>
</div>
{% endblock %}