{% extends "::themes/CAS/cas_signin.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block content %}
    {% block fos_user_content %}
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    {% endblock fos_user_content %}
{% endblock %}
