{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div>
        <div class="pull-right"><img src="{{ asset('images/logo.png') }}" style="max-height: 40px;"/></div>
        <h2 class="form-signin-heading">Connexion</h2>
    </div>
    <br/>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    {% if error %}
        <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <label for="username" class="sr-only">Adresse mail</label>
    <input type="text" id="username" name="_username" placeholder="Adresse mail" value="{{ last_username }}" required="required" class="form-control in" autofocus />

    <label for="password" class="sr-only">Mot de passe</label>
    <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" class="form-control out" />
    <div class="text-center">
        <div class="checkbox" style="display: inline-block;">
            <label for="remember_me" class="control-label">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="" /> Se souvenir de moi
            </label>
        </div>
        <div><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a></div>
    </div>
    <br />
    <input class="btn btn-lg btn-success btn-block" type="submit" id="_submit" name="_submit" value="Connexion" />
    <div class="text-center" style="margin: 10px">OU</div>
    <a class="btn btn-lg btn-primary btn-block" href="{{ path('fos_user_registration_register') }}">Inscription</a>
</form>