{% extends "::themes/CAS/cas_signin.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Mot de passe oublié - {{ parent() }}{% endblock %}

{% block content %}
    {% block fos_user_content %}
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}
