{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-signin fos_user_resetting_request">
    <div>
        <div class="pull-right"><img src="{{ asset('images/logo.png') }}" style="max-height: 40px;"/></div>
        <h2 class="form-signin-heading">Mot de passe oublié ?</h2>
    </div>
    {% if invalid_username is defined %}
        <p class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        <br />
    {% endif %}
    <div>
        <label for="username" class="sr-only">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur / Adresse mail" required="required" />
    </div>
    <div class="mt-3">
        <input class="btn btn-lg btn-warning btn-block" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
    <p class="text-center mt-3"><a href="{{ path('home_home_home_index') }}">Retour</a></p>
</form>