{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    Administration - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {% if app.request.get('_route') == 'cliches_administration_home_index' %}<li class="breadcrumb-item active">Administration</li>
    {% else %}<li class="breadcrumb-item"><a href="{{ path('cliches_administration_home_index') }}">Administration</a></li>
    {% endif %}
{% endblock %}