<div class="jumbotron">
    <h1 style="text-align: center;">Merci d'avoir contribué à DATA !</h1>

    <div style="text-align: center;"><a href="{{ app.request.getSchemeAndHttpHost() }}"><img src="{{ app.request.getSchemeAndHttpHost() }}web/images/logo-big.png" style="max-width: 150px;"/></a></div>
    <br />
    <p>Hey ! Merci d'avoir contribué à l'enrichissement de la base de données de DATA. <br />
    C'est grâce aux propositions comme la tienne que Clichés! s'enrichie et s'améliore chaque jour.</p>
    <p>Tu nous as signalé le problème suivant :</p>
    <ul>
        <li><a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('data_public_entity_view', {'id': reporting.entity.id}) }}">{{ data_data_entity_service.get(reporting.entity, 'label') }}</a> - <strong>Signalement :</strong>{{ reporting.reporting }}</li>
    </ul>
    <p><strong>Cependant, nous n'avons pas accepté ce signalement. Si tu penses qu'il s'agit d'une erreur de notre part, n'hésite pas à nous contacter en répondant à ce mail :) .</strong></p><br />
    <br />
    <p style="text-align: center;"><strong>En tout cas, merci encore !</strong><br />
    N'hésite pas à contribuer à nouveau et participer à l'enrichissement de Clichés!<br />
    <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a> - <a href="{{ app.request.getSchemeAndHttpHost() }}data">{{ app.request.getSchemeAndHttpHost() }}data</a></p>
    <br />
    <br />
    <p><small>Vous pouvez à tout moment supprimer cette alerte mail en vous rendant sur <a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('cas_user_userpreferences_mail') }}">vos préférences utilisateur</a>.</small></p>
</div>