{# src/DATA/DataBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/DATA/data_layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}
    
{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %} 

{% block h1 %}{% endblock %}

{% block contextual_menu %}{% endblock %}

{% block breadcrumb %}
    {% if is_granted("ROLE_ADMIN") %}{{parent()}}{% endif %}
    {% if app.request.get('_route') == 'data_import_administration_index' %}<li class="breadcrumb-item active">Importation</li>
    {% else %}<li class="breadcrumb-item"><a href="{{path('data_import_administration_index')}}">Importation</a></li>
    {% endif %}
{% endblock %}

{% block superformstart %}{# Block servant dans la page d'importation #}{% endblock %}
{% block superformend %}{# Block servant dans la page d'importation #}{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}