{% extends "TBTestedGameBundle::layout.html.twig" %}

{% block title %}{{ testedGame.title }} - {{ parent() }}{% endblock %}

{% block h1 %}{{ testedGame.title }}{% endblock %}

{% block contextual_menu %}
    <div class="mt-1 ml-1">
        <div class="btn-group">
            <a href="{{ path('tb_player_player_index', {'testedGame_id':testedGame.id}) }}" class="btn btn-primary"><i class="fa fa-play-circle" aria-hidden="true"></i> Jouer !</a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item"><a href="{{ path('tb_testedgame_testedgame_edit', {'testedGame_id': testedGame.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Editer</a></li>
                <li class="dropdown-item"><a href="{{ path('tb_testedgame_testedgame_addItems', {'testedGame_id': testedGame.id}) }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter des items</a></li>
                <li class="dropdown-item"><a href="{{ path('tb_testedgame_testedgame_editIcon', {'testedGame_id': testedGame.id}) }}"><i class="fa fa-image" aria-hidden="true"></i> Éditer l'icône</a></li>
                <li role="separator" class="dropdown-divider"></li>
                <li class="dropdown-item"><a href="{{ path('tb_testedgame_testedgame_updateOnlineStatus', {'testedGame_id': testedGame.id}) }}">
                        {% if testedGame.isOnline == true %}<i class="fa fa-toggle-off" aria-hidden="true"></i> Set Offline
                        {% else %}<i class="fa fa-toggle-on" aria-hidden="true"></i> Set Online
                        {% endif %}
                    </a></li>
                {% if is_granted("ROLE_ADMIN") %}
                <li class="dropdown-item"><a href="{{ path('tb_testedgame_testedgame_updateOfficialStatus', {'testedGame_id': testedGame.id}) }}">
                        {% if testedGame.isOfficial == true %}<i class="fa fa-certificate" aria-hidden="true"></i> Set Non Official
                        {% else %}<i class="fa fa-certificate" aria-hidden="true"></i> Set Official
                        {% endif %}
                    </a></li>
                {% endif %}
                <li role="separator" class="dropdown-divider"></li>
                <li class="dropdown-item"><a class="main-JS-delete" href="{{ path('tb_testedgame_testedgame_remove', {'testedGame_id': testedGame.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">{{ testedGame.title }}</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if testedGame.isOnline == false %}
        <div class="alert alert-danger">
            Votre partie est actuellement hors-ligne. Elle n'est pas disponible sur le site. <a href="{{ path('tb_testedgame_testedgame_updateOnlineStatus', {'testedGame_id': testedGame.id}) }}">Cliquez-ici</a> pour passer votre partie en ligne.
        </div>
    {% elseif testedGame.isPrivate == true and not is_granted("ROLE_ADMIN") %}
        <div class="alert alert-warning">
            Votre partie n'est pas référencée sur le site. Seuls les utilisateurs disposant du lien peuvent y jouer.<br />
            <a href="{{ path('tb_testedgame_testedgame_edit', {'testedGame_id':testedGame.id}) }}">Modifiez ses paramètres</a> pour passer votre partie en mode public.
        </div>
    {% endif %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h2>Partagez votre partie !</h2>
            </div>
            <div class="col-sm-4 text-center">
                <input class="form-control input-lg" style="display: inline-block;" value="{{ app.request.getSchemeAndHttpHost() ~ path('tb_player_player_index', {'testedGame_id': testedGame.id}) }}" />
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-3 col-sm-6 col-12">
                <h3>Infos Création</h3>
                <dl>
                    <dt>Créateur</dt>
                    {% if is_granted("ROLE_ADMIN") %}
                    <dd><a href="{{ path('cas_administration_user_view', {'id': testedGame.createUser.id}) }}">{{ testedGame.createUser.username }}</a>
                        (<a href="{{ path('tb_personalplace_public_index', {'user_id':testedGame.createUser.id}) }}">PublicPage</a>)</dd>
                    {% else %}
                        <dd><a href="{{ path('tb_personalplace_public_index', {'user_id': testedGame.createUser.id}) }}">{{ testedGame.createUser.username }}</a></dd>
                    {% endif %}
                </dl>
                <dl>
                    <dt>Date de création</dt>
                    <dd>{{ testedGame.createDate|date('d-m-Y, H:i:s') }}</dd>
                </dl>
                <dl>
                    <dt>Dernière édition</dt>
                    <dd>
                        {% if testedGame.updateUser != null %}
                            {% if is_granted("ROLE_ADMIN") %}
                                Le {{ testedGame.updateDate|date('d-m-Y, H:i:s') }}, par <a href="{{ path('cas_administration_user_view', {'id': testedGame.updateUser.id}) }}">{{ testedGame.updateUser.username }}</a>
                                (<a href="{{ path('tb_personalplace_public_index', {'user_id': testedGame.updateUser.id}) }}">PublicPage</a>)
                            {% else %}
                                <a href="{{ path('tb_personalplace_public_index', {'user_id': testedGame.updateUser.id}) }}">{{ testedGame.updateUser.username }}</a>
                            {% endif %}
                        {% else %}Pas de données
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="col-sm-3 col-sm-6 col-12">
                <h3>Infos Système</h3>
                <dl>
                    <dt>Partie officielle <span tabindex="0" data-trigger="focus" data-toggle="popover" data-content="Une partie officielle est certifiée par Clichés! comme de bonne facture. Seul un administrateur peut définir une partie comme officielle." title="Partie officielle"><i class="fa fa-info-circle"></i></span></dt>
                    <dd>{% if testedGame.isOfficial == true %}<span class="text-success">Oui</span>{% else %}Non{% endif %}</dd>
                </dl>
                <dl>
                    <dt>En ligne ? <span tabindex="0" data-trigger="focus" data-toggle="popover" data-content="Lorsque votre partie n'est pas en ligne, seul.e vous y avez accès." title="Partie en ligne"><i class="fa fa-info-circle"></i></span></dt>
                    <dd>{% if testedGame.isOnline == true %}Oui{% else %}<span class="text-warning">Non</span>{% endif %}</dd>
                </dl>
                <dl>
                    <dt>Partie privée ? <span tabindex="0" data-trigger="focus" data-toggle="popover" data-content="Une partie privée n'est pas affichée en page d'accueil. Vous seul.e pouvez la diffuser en utilisant son permalien." title="Partie privée"><i class="fa fa-info-circle"></i></span></dt>
                    <dd>{% if testedGame.isPrivate == true %}<span class="text-warning">Oui</span>{% else %}Non{% endif %}</dd>
                </dl>
                <dl>
                    <dt>Illustration  <span tabindex="0" data-trigger="focus" data-toggle="popover" data-content="Cette image est utilisée pour illustrer votre partie sur le site ou sur les réseaux sociaux lorsque vous partagez votre partie." title="Image d'illustration"><i class="fa fa-info-circle"></i></span></dt>
                    <dl>{% if testedGame.icon != null %}{{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': 0, 'image_id': testedGame.icon.id, 'class': 'img-fluid'})) }}{% endif %}</dl>
                </dl>
            </div>
            <div class="col-sm-3 col-sm-6 col-12">
                <h3>Infos Items</h3>
                <dl>
                    <dt>Nombre d'items</dt>
                    <dd>{{ tb_model_testeditem.getByTestedGame(testedGame)|length }}</dd>
                </dl>
                <dl>
                    <dt>Affichage aléatoire <span tabindex="0" data-trigger="focus" data-toggle="popover" data-content="Si l'affichage aléatoire est activé, les images seront affichées dans un ordre aléatoire à chaque chargement de partie. Cela rend le jeu plus difficile." title="Affichage aléatoire"><i class="fa fa-info-circle"></i></span></dt>
                    <dd>{% if testedGame.isRandomized == true %}Oui{% else %}Non{% endif %}</dd>
                </dl>
            </div>
            <div class="col-sm-3 col-sm-6 col-12">
                <h3>Infos Parties</h3>
                <dl>
                    <dt>Nombre de sessions <span tabindex="0" data-trigger="focus" data-toggle="popover" data-content="Cette information vous indique le nombre de fois durant lequel votre partie a été joué" title="Nombre de sessions"><i class="fa fa-info-circle"></i></span></dt>
                    <dd>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('tb_testedgame_testedsession_getByTestedGame', {'testedGame_id': testedGame.id}) }}">{{ tb_model_testedsession.getByTestedGame(testedGame)|length }} sessions</a>
                        {% else %}
                            {{ tb_model_testedsession.getByTestedGame(testedGame)|length }} sessions
                        {% endif %}
                    </dd>
                </dl>
                <dl>
                    <dt>Statistiques des parties</dt>
                    <dd>TODO</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        {% for testedItem in tb_model_testeditem.getByTestedGame(testedGame) %}
            <div class="col-sm-3 col-sm-6 col-12">
                <div class="thumbnail thumbnail-tb-layout">
                    {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': 0, 'image_id': testedItem.dataImage.id, 'class': 'image-cliche-tb fancybox'})) }}
                </div>
                <div class="divInfoPlace">
                    <div class="buttonsInfoPlace float-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('tb_testedgame_testedgame_editItem', {'testedGame_id': testedGame.id, 'testedItem_id': testedItem.id}) }}" class="btn btn-sm btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="{{ path('tb_testedgame_testedgame_removeItem', {'testedGame_id': testedGame.id, 'testedItem_id': testedItem.id}) }}" class="btn btn-sm btn-danger main-JS-delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <p class="infoPlace">{{ testedItem.itemLabel }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
