{% extends "DATAMementoMoriBundle::layout.html.twig" %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Edition
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('data_mementomori_mementomori_view', {'id': mementomori.id}) }}">{{mementomori.title}}</a></li>
    <li class="breadcrumb-item active">Edition</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Memento mori</strong>
            </div>
            <div class="card-body">
                {% include "DATAMementoMoriBundle:MementoMori:edit_content.html.twig" %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
