{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.title) }}
        {{ form_errors(form.pdfName) }}
        {{ form_errors(form.values) }}
        {{ form_errors(form.teachings) }}
    </div>
    <br />
    {% endif %}
    
    <div class="form-group">
        {{ form_label(form.title, "Titre :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.title, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.pdfName, "Nom du fichier PDF :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.pdfName, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.teachings, "Enseignements :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.teachings, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.values, "Valeurs :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.values, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
    </div>

    <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-secondary" /></div>
{{ form_end(form) }}