{% extends "DATAMementoMoriBundle::layout.html.twig" %}

{% block title %}
    Nouveau - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Nouveau Memento Mori
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Nouveau</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Memento Mori</strong>
            </div>
            <div class="card-body">
                {% include "DATAMementoMoriBundle:MementoMori:register_content.html.twig" %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
