{% extends "DATAMementoMoriBundle::layout.html.twig" %}

{% block title %}
    {{ mementomori.title }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ mementomori.title }}
{% endblock %}
    
{% block contextual_menu %}
    <div class="mt-1 ml-1">

        <div class="btn-group">
            <a href="{{ path('data_mementomori_mementomori_edit', {'id': mementomori.id}) }}" class="btn btn-secondary"><span class="fas fa-edit"></span></a>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ path('data_mementomori_mementomori_generateContent', {'id': mementomori.id}) }}" title="Générer le contenu" ><span class="fas fa-cogs"></span> Générer</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item main-JS-delete" href="{{ path('data_mementomori_mementomori_delete', {'id': mementomori.id}) }}" ><span class="fas fa-trash-alt"></span> Supprimer</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">{{mementomori.title}}</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-12">
                <article class="jumbotron">
                    <dl class="row">
                        <dt class="col-4 text-right">Titre</dt>
                        <dd class="col-8">{{ mementomori.title }}</dd>

                        <dt class="col-4 text-right">Enseignements</dt>
                        <dd class="col-8">
                            {% for teaching in mementomori.teachings %}
                                {% if loop.first == false %}, {% endif %}<a href="{{ path('data_teaching_teaching_view', {'slug': teaching.slug}) }}">{{ teaching.name }}</a>
                            {% endfor %}
                        </dd>

                        {% if mementomori.pdfName != null %}
                        <dt class="col-4 text-right">Titre</dt>
                        <dd class="col-8"><a href="{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/{{ mementomori.pdfName }}">{{ app.request.getSchemeAndHttpHost() }}/web/mementomori/{{ mementomori.pdfName }}</a></dd>
                        {% endif %}
                    </dl>
                </article>

                <strong>Valeurs ({{ mementomori.values|json_decode|length }})</strong>
                <ul>
                    {% for value in mementomori.values|json_decode %}
                        <li>{{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}