{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block title %}
    Wikidata - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Importation depuis Wikidata
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Importation</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-sm-12 alert-success">
                {{ flashMessage }}
            </div>
            <br />
        {% endfor %}

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {% if not form.vars.valid %}
            <div class="alert alert-error">
                <strong>Votre formulaire contient les erreurs suivantes :</strong>
                {{ form_errors(form) }}
                {{ form_errors(form.uris) }}
                {{ form_errors(form.teachings) }}
            </div>
            <br />
        {% endif %}

        <div class="form-group">
            {{ form_label(form.uris, "URIs séparées par des virgules :", {'label_attr': {'class': 'col-12 col-sm-4 control-label'}}) }}
            <div class="col-12">
                {{ form_widget(form.uris, {'attr': {'placeholder': 'Sans URL', 'class': 'form-control', 'rows': '10'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.teachings, "Appliquer ces lignes à la matière :", {'label_attr': {'class': 'col-12 control-label'}}) }}
            <div class="col-12">
                {{ form_widget(form.teachings, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {{ form_rest(form) }}
        <div class="text-center"><input type="submit" class="btn btn-secondary" /></div>
        {{ form_end(form) }}
    </section>
</div>
{% endblock %}