{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block title %}
    Wikidata - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Importation depuis Wikidata
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Importation</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-sm-12 alert-success">
                {{ flashMessage }}
            </div>
            <br />
        {% endfor %}

        {{ dump(result) }}
    </section>
</div>
{% endblock %}