{{ form_start(form, {'attr': {'class': ''}, 'action': path('cliches_personalplace_privateplayer_addToPrivatePlace', {'view_id': view.id})}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.privatePlayers) }}
    </div>
    <br />
    {% endif %}

    <div class="form-group row mb-0">
        {{ form_label(form.privatePlayers, "Ajouter à : ", {'label_attr': {'class': 'col-12 col-sm-3 col-form-label text-right'}}) }}
        {{ form_widget(form.privatePlayers, {attr: {class: 'form-control col-12 col-sm-6'}}) }}
        <div class="col-12 col-sm-3"><input type="submit" class="btn btn-outline-primary ml-2" value="Ajouter" /></div>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}