{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block title %}
    Importation de masse - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Importation de masse
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Importation de masse</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-sm-12 alert-success">
                {{ flashMessage }}
            </div>
            <br />
        {% endfor %}

        <div class="row">
            <div class="col-12">

                <p class="lead">Le fichier <code>toProceed/toImport.csv</code> contient les lignes suivantes :</p>


                <table class="table table-bordered">
                    <tr>
                        <th>Identifiant fichier</th>
                        <th>Titre</th>
                        <th>Sujet icono</th>
                        <th>Auteur</th>
                        <th>Commanditaire</th>
                        <th>Provenance</th>
                        <th>Datation</th>
                        <th>Matériau</th>
                        <th>Dimensions</th>
                        <th>Style</th>
                        <th>Lieu de conservation</th>
                        <th>Image</th>
                    </tr>
                    {% for line in file %}
                        <tr>
                            {% for key, td in line %}
                                {% if key != 11 %}
                                    <td>{{ td }}</td>
                                {% else %}
                                    <td>
                                        {% if td != null %}<img src="{{ app.request.getSchemeAndHttpHost() }}/web/{{ td }}" style="max-width: 150px; max-height: 150px;"/>
                                        {% else %}Pas d'image
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {% if not form.vars.valid %}
                        <div class="alert alert-error">
                            <strong>Votre formulaire contient les erreurs suivantes :</strong>
                            {{ form_errors(form) }}
                            {{ form_errors(form.teachings) }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form_label(form.teachings, "Appliquer ces lignes à la matière :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.teachings, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-success"><i class="fas fa-arrow-right"></i> Valider</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
</div>
{% endblock %}