{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block title %}
    Spécial Importation - {{ parent() }}
{% endblock %}

{% block h1 %}
    Spécial Importation
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('data_import_administration_massimport') }}">Importation spécial</a></li>
    <li class="breadcrumb-item active">Résultat</li>
{% endblock %}

{% block content %}
    <div class="row">
        <section class="col-sm-12">
            {{ dump(entities) }}
        </section>
    </div>
{% endblock %}