<h2>{{ data_data_entity_service.get(entity, 'label') }}</h2>

<div>
    {% set resumeArray = [] %}
    {% if data_data_entity_service.get(entity, 'description') != null %}
        {% set resumeArray = resumeArray|merge([data_data_entity_service.get(entity, 'description')]) %}
    {% elseif data_data_entity_service.getCreator(entity) != null %}
        {% set resumeArray = resumeArray|merge([data_data_entity_service.getCreator(entity)]) %}
    {% endif %}

    {% if data_data_entity_service.getDateOfCreation(entity) != null %}
        {% set resumeArray = resumeArray|merge([data_data_entity_service.getDateOfCreation(entity)]) %}
    {% endif %}
    {% if data_data_entity_service.get(entity, 'P276') != null %}
        {# P276 = localisation #}
        {% set resumeArray = resumeArray|merge([data_data_entity_service.get(entity, 'P276')]) %}
    {% endif %}

    {{ resumeArray|join(' | ') }}
</div>

{% if data_data_entity_service.getWikipedia(entity, 'fr') != null %}
    {% set wikipediaObj = data_data_entity_service.getWikipedia(entity, 'fr') %}
    {% set wikipediaContent = wikipediaObj.value|json_decode %}
    <div class="card mt-3">
        <div class="card-body">
            {{ wikipediaContent.extract | raw }}
            <div class="text-right">
                <a href="https://fr.wikipedia.org/wiki/{{ wikipediaContent.title }}" target="_blank">Lire plus sur Wikipédia</a>
            </div>
        </div>
    </div>
{% endif %}
