{# src/HDA/PlayerBundle/Resources/views/Player/result.html.twig #}
 
{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    #{{ cliches_player_playeroeuvre_service.getIndexBySession(playerProposal.playerOeuvre.playerSession) }} - Session - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Clichés!
{% endblock %}
    
{% block h1 %}
    Résultat :
{% endblock %}

{% block brandhomelink %}{{ path('cliches_home_home_index', {'sid': playerProposal.playerOeuvre.playerSession.id}) }}{% endblock %}

{% block content %}
<input type="hidden" value="{{playerProposal.id}}" id="playerproposal" />
<input type="hidden" value="{{playerProposal.playerOeuvre.id}}" id="oeuvre-id" />
<input type="hidden" value="{{playerProposal.playerOeuvre.playerSession.id}}" id="session-id" />
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('noticeAlert') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="sticky-top">
                    <div class="pt-2">
                        <div class="text-center">
                            {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': playerProposal.playerOeuvre.view.id, 'class': 'img-fluid vh-80 rounded'})) }}
                        </div>
                        {% include "CLICHESPlayerBundle:Result:result_sources.html.twig" %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                {% include "CLICHESPlayerBundle:Result:result_information.html.twig" %}
                <div class="mt-5">
                {% if playerProposal.playerOeuvre.playerSession.proposalType == 'modeChoice' %}
                    {% include "CLICHESPlayerBundle:Result:result_choices.html.twig" %}
                {% elseif playerProposal.playerOeuvre.playerSession.proposalType == 'modeField' %}
                    {% include "CLICHESPlayerBundle:Result:result_fields.html.twig" %}
                {% endif %}

                {% include "CLICHESPlayerBundle:Result:result_help.html.twig" %}
                </div>

                <div class="mt-3">
                    <div class="float-right"><a href="{{ path('cliches_player_end_end', {'playerSession_id' : playerProposal.playerOeuvre.playerSession.id }) }}" class="btn btn-secondary" title="Terminer la partie" data-toggle="tooltip" data-placement="left"><span class="fas fa-sign-out-alt"></span></a></div>
                    <div class="text-center"><a class="btn btn-success" title="Continuer vers le cliché suivant" href="{{ path('cliches_player_selection_selection', {'playerSession_id': playerProposal.playerOeuvre.playerSession.id}) }}">Continuer</a></div>
                </div>
            </div>
        </div>
        
    </section>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_cliches_player_result') }}
    {% if playerProposal.playerOeuvre.playerSession.proposalType == 'modeChoice' %}
        {{ encore_entry_script_tags('js_cliches_player_resultChoice') }}
    {% elseif playerProposal.playerOeuvre.playerSession.proposalType == 'modeField' %}
        {{ encore_entry_script_tags('js_cliches_player_resultField') }}
    {% endif %}
{% endblock %}