<div class="card mt-3">
    <div class="card-header">
        {% if entity.enrichmentStatus == 1 %}<img src="{{ asset('images/wikidata_powered.png') }}" alt="Powered by Wikidata" class="float-right w-25" />{% endif %}
        <div class="card-title">Provenance des données</div>
    </div>
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-12 col-sm-6 text-left text-sm-right">Provenance de l'image</dt>
            <dd class="col-12 col-sm-6">{% set image = data_image_image_service.getOneByView(playerProposal.playerOeuvre.view) %}{{ image.copyright }}</dd>

            <dt class="col-12 col-sm-6 text-left text-sm-right">Provenance des informations</dt>
            <dd class="col-12 col-sm-6">
                <a href="{{ path('data_public_entity_view', {'id': playerProposal.playerOeuvre.view.entity.id, 'context': 'cliches_result'}) }}" target="_blank">DATA</a>
                {% if entity.enrichmentStatus == 1 %}| <a href="{{ entity.wikidataSameAs }}" target="_blank">Wikidata</a>{% endif %}
                {% if data_data_entity_service.getWikipedia(entity, 'fr') != null %}
                    {% set wikipediaObj = data_data_entity_service.getWikipedia(entity, 'fr') %}
                    {% set wikipediaContent = wikipediaObj.value|json_decode %}
                    | <a href="https://fr.wikipedia.org/wiki/{{ wikipediaContent.title }}" target="_blank">Wikipédia</a>
                {% endif %}
            </dd>

            {% if sources != null %}
            <dt class="col-12 col-sm-6 text-left text-sm-right">Provenance des informations</dt>
            <dd class="col-12 col-sm-6">
                {% for source in sources %}
                    {% if loop.index > 1 %} | {% endif %}
                    <a href="{{ source.url }}" target="_blank" source-id="{{ source.id }}" context="player-result" class="source-link" >
                        {{ source.title }}
                    </a>
                    {% if source.authorityControl == true %}<i class="fas fa-thumbs-up" title="Ceci est une notice d'autorité"></i>{% endif %}
                {% endfor %}
            </dd>
            {% endif %}
        </dl>
    </div>
</div>