<div class="card mt-3">
    <div class="card-header">
        <div class="card-title">Aidez-nous à améliorer Clichés!</div>
    </div>
    {% if isVote == true %}
        <div class="card-body">
        {{ form_start(formVote, {'attr': {'class': 'form-horizontal'}}) }}
            <input type="hidden" id="idTeachingTest" value="{{ teachingTest.id }}" />
            <div class="form-group">
                {{ form_label(formVote.vote, "Ce cliché est-il important en " ~ playerProposal.playerOeuvre.playerSession.teaching.name ~ " ?") }}
                <small id="voteHelp" class="form-text text-muted mt-0 mb-3">Pensez-vous que ce cliché puisse tomber à l'examen de cette matière ?</small>
                {{ form_widget(formVote.vote, {'attr': {'class': 'form-check-inline'}}) }}
            </div>

            {{ form_rest(formVote) }}
        {{ form_end(formVote) }}
        </div>
    {% endif %}

    <div class="card-body">
    {{ form_start(formReporting, {'attr': {'class': ''}}) }}
        <input type="hidden" id="idEntity" value="{{ entity.id }}" />
        <div class="form-row">
            <div class="col-12">
                <div class="input-group mb-3">
                    {{ form_widget(formReporting.reporting, {'attr': {'placeholder': 'Une suggestion sur ce cliché ?', 'class': 'form-control'}}) }}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary" id="sendReport" >Envoyer</button>
                    </div>
                </div>
            </div>
        </div>

        {{ form_rest(formReporting) }}
    {{ form_end(formReporting) }}
    </div>
</div>

