<div>
    <h3>Cartel :</h3>
</div>

<div id="divForResults">
    <div id="ajax-loader" class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" style="width: 4rem; height: 4rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

