<div class="well">
    {% for playerProposalChoice in playerProposalChoices %}
        <div class="row">
            <div class="col-sm-3 control-label text-right">
                <strong>{{ cliches_player_playerresult_service.getLabel(playerProposalChoice.field) }} :</strong>
            </div>
            <div class="col-sm-9">
                <ul class="list-unstyled">
                {% for playerProposalChoiceValue in playerProposalChoice.playerProposalChoiceValues %}
                    {% if playerProposalChoiceValue == playerProposalChoice.playerProposalChoiceValueSelected and playerProposalChoiceValue.isTrue == true %}<li class="text-success">{{ playerProposalChoiceValue.value }} <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></li>
                    {% elseif playerProposalChoice.playerProposalChoiceValueSelected == null and playerProposalChoiceValue.isTrue == true %}<li class="text-primary">{{ playerProposalChoiceValue.value }} <i class="fa fa-hand-o-left" aria-hidden="true"></i></li>
                    {% elseif playerProposalChoiceValue != playerProposalChoice.playerProposalChoiceValueSelected and playerProposalChoiceValue.isTrue == true %}<li class="text-success">{{ playerProposalChoiceValue.value }} <i class="fa fa-hand-o-left" aria-hidden="true"></i></li>
                    {% elseif playerProposalChoiceValue == playerProposalChoice.playerProposalChoiceValueSelected and playerProposalChoiceValue.isTrue == false %}<li style="color: #e97676;">{{ playerProposalChoiceValue.value }} <i class="fa fa-thumbs-o-down" aria-hidden="true"></i></li>
                    {% else %}<li>{{ playerProposalChoiceValue.value }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    <hr />
    <div>
        <div class="float-right"><a href="{{ path('cliches_player_end_end', {'playerSession_id' : playerProposal.playerOeuvre.playerSession.id }) }}" class="btn btn-secondary" title="Terminer la partie" data-toggle="tooltip" data-placement="left"><span class="fas fa-sign-out-alt"></span></a></div>
        <div class="text-center"><a class="btn btn-success" title="Continuer vers le cliché suivant" href="{{ path('cliches_player_selection_selection', {'playerSession_id': playerProposal.playerOeuvre.playerSession.id}) }}">Continuer</a></div>
    </div>
</div>