{# src/DATA/LayoutBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/layout.html.twig" %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block jsonld %}{% endblock %}

{% block title %}
    data.histoiredelart.fr {{ parent() }}
{% endblock %}

{% block follow %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css_main') }}
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light mb-5">
        <div class="container">
            {% set homeIndexAttr = {} %}
            {% if ppid is defined %}{% set homeIndexAttr = homeIndexAttr|merge({'ppid': ppid}) %}{% endif %}
            <a class="navbar-brand" href="{{ path('data_public_home_index', homeIndexAttr) }}">
                <img src="{{ asset('images/logo.png') }}" width="70" alt="Logo de Clichés!" class="mr-3">
                <span class="d-none d-sm-inline">{% block h1 %}{% endblock %}</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right text-sm-left">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('data_public_home_contribute') }}" class="btn btn-primary">Contribuer</a></li>
                        <li class="dropdown pt-2 ml-3">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownUserLink">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                                <a class="dropdown-item" href="{{ path('cliches_personalplace_privateplayer_index') }}">Mes collections</a>
                                <a class="dropdown-item" href="{{ path('cliches_personalplace_stats_stats') }}">Mes statistiques</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                                {% if is_granted("ROLE_MODO") %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('cliches_administration_home_index') }}">Admin Clichés</a>
                                    <a class="dropdown-item" href="{{ path('data_administration_home_index') }}">Admin Data</a>
                                    <a class="dropdown-item" href="{{ path('cas_administration_user_index') }}">Admin CAS</a>
                                {% endif %}
                            </div>
                        </li>
                    {% else %}
                        <li class="ml-3"><a href="{{ path('fos_user_security_login') }}" class="btn btn-hda-cta-main">Connexion</a></li>
                    {% endif %}
                    <li class="ml-3 pt-2"><a href="{{ path('cliches_home_home_index') }}">Clichés!</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}  

{% block container %}
<div class="container" style="">
    {% block superformstart %}{# Block servant dans la page d'importation #}{% endblock %}
    <div>
        <div class="pull-right">{% block contextual_menu %}{% endblock %}</div>
        <ol class="breadcrumb">
            {% block breadcrumb %}
                {% set homeIndexAttr = {} %}
                {% if ppid is defined %}{% set homeIndexAttr = homeIndexAttr|merge({'ppid': ppid}) %}{% endif %}
                <li {% if app.request.get('_route') == 'data_public_home_index' %}class="breadcrumb-item active"{% else %}class="breadcrumb-item"{% endif %}>{% if app.request.get('_route') != 'data_public_home_index' %}<a href="{{ path('data_public_home_index', homeIndexAttr) }}">DATA</a>{% else %}DATA{% endif %}</li>
            {% endblock %}
        </ol>
    </div>
    {% block content %}{% endblock %}
    {% block superformend %}{% endblock %}
</div>
{% endblock %}

{% block footer %}
    <footer class="mt-8 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 text-center text-sm-left">
                    <ul class="list-unstyled">
                        <li><a href="{{ path('cliches_home_home_index') }}" class="text-muted">Clichés!</a></li>
                        {#<li><a href="{{ path('tb_home_home_index') }}" class="text-muted">ConfusArt</a></li>#}
                        <li><a href="{{ path('data_public_home_index') }}" class="text-muted">Data</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 text-center text-sm-left mt-4 mt-sm-0">
                    <ul class="list-unstyled">
                        <li><a href="{{ path('data_public_home_contribute') }}" class="text-muted">Contribuer</a></li>
                        <li><a href="{{ path('home_home_home_mentionsLegales') }}" class="text-muted">Mentions légales</a></li>
                        <li><a href="mailto:{{ cliches_mail }}" class="text-muted" title="Questions / Suggestions / Remarques / Aide">{{ cliches_mail }}</a></li>
                        <li><a href="https://framagit.org/karlpineau/histoiredelart.fr" class="text-muted">Répertoire Framagit</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 text-center text-sm-left mt-4 mt-sm-0">
                    <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/mcfq2Rdyt"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>

                    <div class="mt-2"><a class="text-muted" href='https://ind.ie/ethical-design'><div style='display: block;'>▲❤ <span class="pl-2">We practice <strong>Ethical</strong> Design.</span></div></a></div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}