{# src/DATA/DataBundle/Resources/views/Entity/view.html.twig #}
 
{% extends "DATADataBundle::layout.html.twig" %}

{% block title %}
    {{ data_data_entity_service.get(entity, 'label') }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ data_data_entity_service.get(entity, 'label')|slice(0, 45) }}{% if data_data_entity_service.get(entity, 'label')|length > 45 %}...{% endif %}
{% endblock %}
    
{% block contextual_menu %}
    <div class="mt-1 ml-1">
        <input value="{{ entity.id }}" id="entityId" type="hidden" />
        <div class="btn-group">
            <a href="{{ path('data_public_entity_view', {'id': entity.id}) }}" class="btn btn-secondary">Version Public</a>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ path('data_data_entity_edit', {'id': entity.id}) }}" title="Editer" ><span class="fas fa-edit"></span> Editer</a>
                <a class="dropdown-item" href="{{ path('data_data_entity_addview', {'id': entity.id}) }}" ><span class="fas fa-plus"></span> Nouvelle vue</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('data_data_entity_edit_sources', {'id': entity.id}) }}" >Sources</a>
                {% if is_granted("ROLE_ADMIN") %}
                    {% if entity.enrichmentStatus == 0 and entity.wikidataSameAs != null %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('data_data_entityderivation_derivation', {'entity_id': entity.id}) }}" title="Dériver"> Dériver</a>
                    {% elseif entity.enrichmentStatus == 1 %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('data_data_entityderivation_update', {'entity_id': entity.id}) }}" title="Mettre à jour la dérivation">MàJ Dérivation</a>
                        <a class="dropdown-item" href="{{ path('data_data_entityderivation_removederivation', {'entity_id': entity.id}) }}" title="Supprimer la dérivation">Supprimer Dérivation</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item bg-danger main-JS-delete" href="{{ path(data_data_entity_routing_service.getRoutingDelete(), {'id': entity.id}) }}" title="Supprimer" ><span class="fas fa-trash-alt"></span> Supprimer</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{path('data_data_entity_index')}}">Items</a></li>
    <li class="breadcrumb-item active">{{ data_data_entity_service.get(entity, 'label')|slice(0, 60) }}{% if data_data_entity_service.get(entity, 'label')|length > 60 %}...{% endif %}</li>
{% endblock %} 

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% if entity.importValidation == null %}
            <div class="alert alert-warning" role="alert">
                Attention, cette oeuvre est en attente de validation.

                <div class="btn-group d-inline-block" role="group" aria-label="Actions on entity">
                    <a href="{{ path('data_import_entity_validation', {'id': entity.id, "bool": "true"}) }}" class="btn btn-success"><span class="fas fa-check"></span></a>
                    <a href="{{ path('data_import_entity_validation', {'id': entity.id, "bool": "false"}) }}" class="btn btn-danger"><span class="fas fa-trash-alt"></span></a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-sm-6">
                {% include 'DATADataBundle:Entity:View/view-views.html.twig' %}

                {% include 'DATADataBundle:Entity:View/view-teaching.html.twig' %}

                {% include 'DATADataBundle:Entity:View/view-sources.html.twig' %}

                {% include 'DATADataBundle:Entity:View/view-wikipedia.html.twig' %}
            </div>
            <div class="col-12 col-sm-6">
                {% if duplicates|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        Attention, doublons d'alignement :
                        <ul>
                            {% for duplicate in duplicates %}
                                <li><a href="{{ path('data_data_entity_view', {'id': duplicate.id}) }}">{{ data_data_entity_service.get(duplicate, 'label') }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% include 'DATADataBundle:Entity:View/view-informations.html.twig' %}

                {% include 'DATADataBundle:Entity:View/view-visits.html.twig' %}

                {% include 'DATADataBundle:Entity:View/view-pad.html.twig' %}

                {% include 'DATADataBundle:Entity:View/view-system-informations.html.twig' %}
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_data_data_view') }}
{% endblock %}
