{% extends "::themes/CLICHES/cliches_layout.html.twig" %}

{% block title %}
    {{ privatePlayer.title }} - Collection - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    {{ privatePlayer.title }}
{% endblock %}

{% block h1 %}
    {{ privatePlayer.title }}
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">{{ privatePlayer.title }}</li>
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12">
            <h2>{{ privatePlayer.title }} ({{ privatePlayer.views | length }} clichés)</h2>
        </div>
    {% for view in privatePlayer.views %}
        <div class="col-12 col-sm-3">
            {% set entity = data_data_entity_service.getByView(view) %}
            <div class="card">
                {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': view.id, 'class': 'card-img-top size-medium'})) }}
                <div class="card-body">
                    <h4 class="card-title"><a href="{{ path("data_public_entity_view", {'id': entity.id}) }}">{{data_data_entity_service.get(entity, 'label')}}</a></h4>
                    <p class="card-text">
                        {% set resumeArray = [] %}
                        {% if data_data_entity_service.get(entity, 'description') != null %}
                            {% set resumeArray = resumeArray|merge([data_data_entity_service.get(entity, 'description')]) %}
                        {% elseif data_data_entity_service.getCreator(entity) != null %}
                            {% set resumeArray = resumeArray|merge([data_data_entity_service.getCreator(entity)]) %}
                        {% endif %}

                        {% if data_data_entity_service.getDateOfCreation(entity) != null %}
                            {% set resumeArray = resumeArray|merge([data_data_entity_service.getDateOfCreation(entity)]) %}
                        {% endif %}
                        {% if data_data_entity_service.get(entity, 'P276') != null %}
                            {# P276 = localisation #}
                            {% set resumeArray = resumeArray|merge([data_data_entity_service.get(entity, 'P276')]) %}
                        {% endif %}

                        {{ resumeArray|join(' | ') }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
