{% extends "::themes/CAS/cas_layout.html.twig" %}

{% block title %}
    Profil utilisateur
{% endblock %}

{% block h1 %}
    Profil utilisateur
{% endblock %}

{% block contextual_menu %}

{% endblock %}

{% block brandtitle %}
    Profil utilisateur
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">CAS</li>
    <li class="breadcrumb-item active">Profil</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-12 col-sm-6">
            <h3>Mon profil</h3>
            {% block fos_user_content %}
                {% include "FOSUserBundle:Profile:show_content.html.twig" %}
            {% endblock fos_user_content %}
        </div>
        <div class="col-12 col-sm-6">
            <h3>Mes préférences</h3>
            <dl class="row">
                <dt class="col-12 col-sm-5 text-left text-sm-right">Préférences mail</dt>
                <dd class="col-12 col-sm-7"><a href="{{ path('cas_user_userpreferences_mail') }}">Modifier</a></dd>

                <dt class="col-12 col-sm-5 text-left text-sm-right">Préférences Clichés!</dt>
                <dd class="col-12 col-sm-7"><a href="{{ path('cas_user_userpreferences_cliches') }}">Modifier</a></dd>

                <dt class="col-12 col-sm-5 text-left text-sm-right">Mon compte</dt>
                <dd class="col-12 col-sm-7"><a href="{{ path('cas_user_remove_index') }}" class="main-JS-delete">Supprimer mon compte</a></dd>
            </dl>
        </div>
    </div>
{% endblock %}
