{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <dl class="row">
        <dt class="col-12 col-sm-5 text-left text-sm-right">Nom d'utilisateur :</dt>
        <dd class="col-12 col-sm-7">{{ user.username }} <a href="{{ path('fos_user_profile_edit') }}" class="d-block d-sm-inline">Modifier</a></dd>

        <dt class="col-12 col-sm-5 text-left text-sm-right">{{ 'profile.show.email'|trans }} :</dt>
        <dd class="col-12 col-sm-7">{{ user.email }} <a href="{{ path('fos_user_profile_edit') }}" class="d-block d-sm-inline">Modifier</a></dd>

        <dt class="col-12 col-sm-5 text-left text-sm-right">Mot de passe :</dt>
        <dd class="col-12 col-sm-7"><a href="{{ path('fos_user_change_password') }}">Modifier</a></dd>
    </dl>
</div>
