{% extends "TBAdministrationBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block h1 %}Administration{% endblock %}

{% block contextual_menu %}
    <div class="mt-1 ml-1">
        <a class="btn btn-primary" href="{{ path('tb_testedgame_testedgame_create') }}"><i class="fa fa-plus" aria-hidden="true"></i> Nouveau</a>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="list-group">
                    {% for testedGame in testedGames %}
                        {% include "::themes/TB/tb_listTestedGame.html.twig" %}
                    {% endfor %}
                    <div class="list-group-item list-group-item-btn">
                        <a href="{{ path('tb_home_home_getAllTestedGames') }}" class="btn btn-block btn-lg btn-primary btn-list-group-item btn-list-group-item-radius-bottom">Afficher toutes les parties</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <div class="float-right">
                    <div class="btn-group">
                        <a href="{{ path('tb_testedgame_testedsession_index') }}" class="btn btn-primary"><i class="fa fa-history" aria-hidden="true"></i></a>
                        <a href="#" class="btn btn-primary"><i class="fas fa-chart-area"></i></a>
                    </div>
                </div>
                <h2>Dernières sessions</h2>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Game</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for testedSession in testedSessions %}
                    <tr>
                        <td>
                            <a href="{{ path('tb_testedgame_testedsession_view', {'testedSession_id': testedSession.id}) }}">
                                <div class="float-right">
                                    {% if tb_model_testeditemresultsession.getByTestedSession(testedSession) != null %}<span class="text-success" title="Le joueur a soumis un résultat"><i class="fa fa-check-square" aria-hidden="true"></i></span>
                                    {% else %}<span class="text-warning" title="Le joueur n'a pas soumis de résultat"><i class="fa fa-check-square" aria-hidden="true"></i></span>
                                    {% endif %}
                                </div>
                                #{{ loop.index }}
                            </a>
                        </td>
                        <td>
                            {{ testedSession.ipCreateUser }}
                            {% if testedSession.createUser != null %}
                                <div><small><a href="{{ path('cas_administration_user_view', {'id': testedSession.createUser.id}) }}">{{ testedSession.createUser.username }}</a></small></div>
                            {% endif %}
                        </td>
                        <td>
                            <div class="float-right">
                                {% if testedSession.tooSmallWindow == false %}<span class="text-success" title="L'écran était suffisamment large pour jouer"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                {% elseif testedSession.tooSmallWindow == true %}<span class="text-warning" title="L'écran n'était pas suffisamment large pour jouer"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                {% endif %}
                            </div>
                            <a href="{{ path('tb_testedgame_testedgame_view', {'testedGame_id': testedSession.testedGame.id}) }}">{{ testedSession.testedGame.title }}</a>
                        </td>
                        <td>
                           {{ testedSession.createDate|date('d-m-Y H:i:s') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
