{# src/DATA/DataBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/DATA/data_layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}
    
{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %} 

{% block h1 %}{% endblock %}

{% block contextual_menu %}{% endblock %}

{% block breadcrumb %}
    {{parent()}}
    {% if app.request.get('_route') != 'data_search_search_index' %}<li class="breadcrumb-item"><a href="{{ path('data_search_search_index') }}">Recherche</a></li>
    {% else %}<li class="breadcrumb-item active">Recherche</li>
    {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}