{# src/HDA/AdministrationBundle/Resources/views/Index/index.html.twig #}
 
{% extends "CLICHESAdministrationBundle::layout.html.twig" %}
 
{% block title %}
    Statistiques par Enseignement - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Statistiques par enseignement
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Statistiques par enseignement</li>
{% endblock %}

{% block h1 %}
    Statistiques par Enseignement
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block content %}
<div class="row">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            {% for teaching in teachings %}
            <div class="col-sm-6">
                <h4><a href="{{ path('data_teaching_teaching_view', {'slug': teaching['name'].slug}) }}" target="_blank">{{ teaching['name'].name }}</a></h4>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Nb Sessions</th>
                        <th>User Connecté</th>
                        <th>Temps moyen</th>
                    </tr>
                    <tr>
                        <td>{{ teaching['sessions'] }}</td>
                        <td>{{ (100-(teaching['nbNonUser']*100/teaching['sessions']))|round(2, 'floor') }}% <small>({{ teaching['sessions']-teaching['nbNonUser'] }})</small><br />
                            <small>Moyenne : {{ teaching['averageSessionUser']|round(2, 'floor') }} session/user</small></td>
                        <td>{{ teaching['moyenneTemps'] }}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
