{% extends "DATAPublicBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Oeuvres
{% endblock %}
    
{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Oeuvres</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-sm-12 alert-success">
                {{ flashMessage }}
            </div>
            <br />
        {% endfor %}
           
        <div class="well">   
            {{ render(controller('DATASearchBundle:Search:search', {'access': 'false', 'type': ''})) }}
        </div>

        <div class="float-sm-right pt-sm-1"><a href="{{ app.request.getSchemeAndHttpHost() }}/api/data/items">Données structurées</a></div>
        <h2>Oeuvres : {{ listEntities.getTotalItemCount }}</h2>
            
        <div class="row mt-3">
            {% for entityId in listEntities %}
                {% set entity = data_data_entity_service.getById(entityId) %}
                {% set view = data_data_entity_service.getMainView(entity) %}
                {% set index = ((listEntities.getPaginationData.current-1)*100)+loop.index %}
                {% include '::view-item-card.html.twig' %}
            {% else %}
                <div class="col-12">
                    <div class="alert alert-info">Aucune oeuvre.</div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">{{ knp_pagination_render(listEntities) }}</div>
    </section>
</div>
{% endblock %}