{% extends "DATAPublicBundle::layout.html.twig" %}

{% block meta %}
    {{ parent() }}
    {% include 'DATAPublicBundle:Entity:View/view-meta.html.twig' %}
{% endblock %}

{% block jsonld %}
{% endblock %}

{% block title %}
    {{ data_data_entity_service.get(entity, 'label') }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ data_data_entity_service.get(entity, 'label')|slice(0, 45) }}{% if data_data_entity_service.get(entity, 'label')|length > 45 %}...{% endif %}
{% endblock %}
    
{% block contextual_menu %}
    <div class="mt-1 ml-1">
        {# -- Gestion du bouton Signalement -- #}
        {% if form is defined %}
            {% set entityReporting = entity %}
            {% set entityReportingRoute = 'data_public_entity_view' %}
            {% include "DATAPublicBundle:Reporting:reporting_content.html.twig" %}
        {% else %}
            <a class="btn btn-secondary" href="{{ path('data_public_entity_view', {'id': entity.id, 'reportingBoolean': 'true'}) }}">Suggérer une amélioration</a>
        {% endif %}
        {# -- END : Gestion du bouton Signalement -- #}

        {% if is_granted("ROLE_MODO") %}
            <a class="btn btn-secondary" href="{{ path('data_data_entity_view', {'id': entity.id}) }}"><i class="fa fa-cog" aria-hidden="true"></i></a>
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {% if search_id is defined %}
        {% set searchIndexAttr = {'id': search_id} %}
        {% if ppid is defined %}{% set searchIndexAttr = searchIndexAttr|merge({'ppid': ppid}) %}{% endif %}
        <li class="breadcrumb-item"><a href="{{ path('data_search_search_result', searchIndexAttr) }}">Retour à la recherche</a></li>
    {% else %}
        {% set entityIndexAttr = {} %}
        {% if ppid is defined %}{% set entityIndexAttr = entityIndexAttr|merge({'ppid': ppid}) %}{% endif %}
        <li class="breadcrumb-item"><a href="{{path('data_public_entity_index', entityIndexAttr)}}">Oeuvres</a></li>
    {% endif %}
    <li class="breadcrumb-item active">{{ data_data_entity_service.get(entity, 'label')|slice(0, 60) }}{% if data_data_entity_service.get(entity, 'label')|length > 60 %}...{% endif %}</li>
{% endblock %} 

{% block content %}
<div class="row" itemscope itemtype="http://schema.org/VisualArtwork">
    <section id="content" class="col-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Liens pérennes</div>
                    <div class="card-body">
                        <input itemprop="url" value="{{ app.request.getSchemeAndHttpHost() }}/data/items/{{ entity.id }}" class="form-control form-control-sm input-sm" readonly />
                        <input itemprop="url" value="{{ app.request.getSchemeAndHttpHost() }}/api/data/items/{{ entity.id }}" class="form-control form-control-sm input-sm mt-1" readonly />
                    </div>
                </div>
                {% include 'DATAPublicBundle:Entity:View/view-views.html.twig' %}

                {% include 'DATAPublicBundle:Entity:View/view-wikipedia.html.twig' %}
            </div>
            <div class="col-sm-6">
                {% set entityForInformation = entity %}{# Attention, view-informations est utilisé dans d'autres contextes, c'est pour il y a une variable ici #}
                {% include 'DATAPublicBundle:Entity:View/view-informations.html.twig' %}

                {% include 'DATAPublicBundle:Entity:View/view-teaching.html.twig' %}

                {% include 'DATAPublicBundle:Entity:View/view-sources.html.twig' %}
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_data_public_public') }}
{% endblock %}