{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
            {{ form_errors(form.isPlan) }}
            {{ form_errors(form.vue) }}
            {{ form_errors(form.title) }}
            {{ form_errors(form.iconography) }}
            {{ form_errors(form.location) }}
            {{ form_errors(form.image) }}
        </div>
        <br />
    {% endif %}

    <fieldset>
        <legend>Vue :</legend>

        <div class="form-group">
            {{ form_label(form.isPlan, "Est-ce un plan :") }}
            {{ form_widget(form.isPlan, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.vue, "Vue :") }}
            {{ form_widget(form.vue, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.title, "Titre :") }}
            {{ form_widget(form.title, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.iconography, "Iconographie :") }}
            {{ form_widget(form.iconography, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.location, "Localisation :") }}
            {{ form_widget(form.location, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
        </div>
    </fieldset>
    <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-secondary" /></div>
{{ form_end(form) }}