{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block title %}
    Archives - Importation - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Archives
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('data_import_administration_index') }}">Administration</a></li>
    <li class="breadcrumb-item active">Archives</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-sm-12 alert-success">
                {{ flashMessage }}
            </div>
            <br />
        {% endfor %}

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>#</th>
                        <th>Session</th>
                    </tr>
                    {% for importSession in importSessions %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{% if importSession.createUser != null %}{{ importSession.createUser.username }}{% endif %}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">Oups ... Pas de données ...</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}