{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block title %}
    Importations - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Importations
{% endblock %}

{% block contextual_menu %}
    <div class="pt-1 pl-1">
        <a class="btn btn-primary" href="{{ path('data_import_administration_archives') }}">Archives</a>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Importation</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-sm-12 alert-success">
                {{ flashMessage }}
            </div>
            <br />
        {% endfor %}

        <h2>Items :</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Session</th>
                <th>User</th>
                <th>Validation</th>
            </tr>
            {% for entity in entities %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('data_data_entity_view', {'id': entity.id}) }}" target="_blank">{{ data_data_entity_service.get(entity, 'label') }}</a></td>
                    <td><a>#{% if entity.importSession != null %}{{ entity.importSession.id }}{% endif %}</a></td>
                    <td>{% if entity.createUser != null %}<a href="{{ path('cas_administration_user_view', {'id': entity.createUser.id}) }}">{{ entity.createUser.username }}</a>{% endif %}</td>
                    <td>
                        <a href="{{ path('data_import_entity_validation', {'id': entity.id, "bool": "true"}) }}" class="btn btn-success"><span class="fas fa-check"></span></a>
                        <a href="{{ path('data_import_entity_validation', {'id': entity.id, "bool": "false"}) }}" class="btn btn-danger"><span class="fas fa-trash-alt"></span></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun item en attente</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}