{% extends "DATAAdministrationBundle::layout.html.twig" %}

{% block title %}
    Administration Importation - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Administration Importation :
{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Administration</li>
{% endblock %}    
    
{% block content %}
    {{ dump(array) }}
{% endblock %}