{# src/DATA/AdministrationBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/TB/tb_layout.html.twig" %}

{% block title %}
    Administration - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block h1 %}{% endblock %}

{% block contextual_menu %}{% endblock %}

{% block breadcrumb %}
    {{parent()}}
    {% if is_granted("ROLE_ADMIN") %}<li class="breadcrumb-item"><a href="{{ path('tb_administration_home_index') }}">Administration</a></li>
    {% else %}<li class="breadcrumb-item"><a href="{{ path('tb_personalplace_home_index') }}">Profil</a></li>
    {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}