{# src/CAS/LayoutBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/layout.html.twig" %}

{% block title %}
    histoiredelart.fr
{% endblock %}

{% block follow %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css_stickyFooter') }}
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light mb-5">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home_home_home_index') }}">
                <img src="{{ asset('images/logo.png') }}" width="70" alt="Logo de Clichés!" class="mr-3">
                <span class="d-none d-sm-inline">{% block brandtitle %}{% endblock %}</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right text-sm-left">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="dropdown ml-3 pt-2">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownUserLink">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                                <a class="dropdown-item" href="{{ path('cliches_personalplace_privateplayer_index') }}">Mes collections</a>
                                <a class="dropdown-item" href="{{ path('cliches_personalplace_stats_stats') }}">Mes statistiques</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('cliches_administration_home_index') }}">Admin Clichés</a>
                                    <a class="dropdown-item" href="{{ path('data_administration_home_index') }}">Admin Data</a>
                                    <a class="dropdown-item" href="{{ path('cas_administration_user_index') }}">Admin CAS</a>
                                {% endif %}
                            </div>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-hda-cta-main">Connexion</a></li>
                    {% endif %}
                    <li class="ml-3 pt-2"><a href="{{ path('cliches_home_home_index') }}" class="btn btn-hda-cta-main">Clichés!</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block container %}
<div class="container">
    {% block superformstart %}{# Block servant dans la page d'importation #}{% endblock %}
    <div>
        <div class="pull-right">{% block contextual_menu %}{% endblock %}</div>
        <ol class="breadcrumb">
            {% block breadcrumb %}
                <li {% if app.request.get('_route') == 'home_home_home_index' %}class="breadcrumb-item active"{% else %}class="breadcrumb-item"{% endif %}>{% if app.request.get('_route') != 'home_home_home_index' %}<a href="{{ path('home_home_home_index') }}">histoiredelart.fr</a>{% else %}histoiredelart.fr{% endif %}</li>
            {% endblock %}
        </ol>
    </div>
    {% block content %}{% endblock %}
    {% block superformend %}{% endblock %}
</div>
{% endblock %} 

{% block javascript %}
    {{ parent() }}
{% endblock %}