{# src/CAS/LayoutBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/layout.html.twig" %}

{% block title %}
    histoiredelart.fr
{% endblock %}

{% block follow %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css_signin') }}
{% endblock %}

{% block container %}
<div class="container">
    {% block content %}{% endblock %}
</div>
{% endblock %} 

{% block javascript %}
{% endblock %}