{% extends "TBTestedGameBundle::layout.html.twig" %}

{% block title %}TestedSessions - {{ parent() }}{% endblock %}

{% block h1 %}TestedSessions{% endblock %}

{% block contextual_menu %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Liste des TestedSessions</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table table-bordered table-striped">
        <caption>{{ testedSessions.getTotalItemCount }} sessions</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>TestedGame</th>
                <th>CreateUser</th>
                <th>CreateDate</th>
            </tr>
        </thead>
        <tbody>
        {% for testedSession in testedSessions %}
            <tr>
                <td>{{ ((testedSessions.getPaginationData.current-1)*100)+loop.index }}</td>
                <td><a href="{{ path('tb_testedgame_testedsession_view', {'testedSession_id': testedSession.id}) }}">#{{ testedSession.id }}</a></td>
                <td><a href="{{ path('tb_testedgame_testedgame_view', {'testedGame_id': testedSession.testedGame.id}) }}">{{ testedSession.testedGame.title }}</a></td>
                <td>{% if testedSession.createUser is not null %}<a href="{{ path('cas_administration_user_view', {'id': testedSession.createUser.id}) }}">{{ testedSession.createUser.email }}</a> -> {% endif %}{{ testedSession.ipCreateUser }}</td>
                <td>{{ testedSession.createDate|date('d-m-Y, H:i:s') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No data</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">{{ knp_pagination_render(testedSessions) }}</div>
{% endblock %}
