{# src/DATA/AdministrationBundle/Resources/views/layout.html.twig #}
 
{% extends "::themes/TB/tb_player.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="index,follow" />
{% endblock %}

{% block h1 %}{% endblock %}

{% block contextual_menu %}{% endblock %}

{% block breadcrumb %}
    {{parent()}}
{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}