{% extends "TBTestedGameBundle::layout.html.twig" %}

{% block title %}Nouveau TestedGame - {{ parent() }}{% endblock %}

{% block h1 %}Nouveau TestedGame{% endblock %}

{% block contextual_menu %}
    <div class="mt-1 ml-1">
        <button type="button" class="btn btn-primary">Besoin d'aide ?</button>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Nouveau</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% include "TBTestedGameBundle:TestedGame:Create/create_content.html.twig" %}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ encore_entry_script_tags('js_tb_testedGame_create') }}
{% endblock %}
