{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.title) }}
        {{ form_errors(form.isRandomized) }}
        {{ form_errors(form.isPrivate) }}
        {{ form_errors(form.testedItems) }}
        {{ form_errors(form.icon) }}
    </div>
    <br />
    {% endif %}

    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">A propos de la partie :</strong>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        {{ form_label(form.title, "Titre", {'label_attr': {'class': 'col-sm-3 col-form-label text-right'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.title, {'attr': {'placeholder': 'Typologie de céramique chinoise', 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            {{ form_widget(form.isRandomized) }}
                            {{ form_label(form.isRandomized) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            {{ form_widget(form.isPrivate) }}
                            {{ form_label(form.isPrivate) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_label(form.icon, "Sélectionner une photo d'illustration :", {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.icon, {'attr': {'placeholder': '', 'class': ''}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <button type="button" id="buttonAddTestedItem" class="btn btn-primary btn-sm"><span class="fas fa-plus"></span></button>
                    </div>
                    <strong>A propos des images :</strong>
                </div>
                <div class="card-body">
                    {{ form_widget(form.testedItems) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="text-center mt-3"><input type="submit" class="btn btn-primary btn-lg" /></div>
{{ form_end(form) }}