{% if requestedImageSize == "small" %}
    {% set imageUrl = image.smallFileName  %}
{% elseif requestedImageSize == "large" %}
    {% set imageUrl = image.largeFileName  %}
{% elseif requestedImageSize == "original" %}
    {% set imageUrl = image.originalFileName  %}
{% else %}
    {% set imageUrl = image.mediumFileName  %}
{% endif %}

<img src="{{ asset('uploads/gallery/' ~ imageUrl) }}" alt="{{ data_data_entity_service.getTitleForImage(image) }} - {{ app.request.getSchemeAndHttpHost() }}/data" class="{{ class }}" {% if id != null %}id="{{ id }}"{% endif %} {% if clichesnumber != null %}clichesnumber="{{ clichesnumber }}"{% endif %} {% if session != null %}session="{{ session }}"{% endif %} {% if isModal == true %}data-toggle="modal" data-target="#modalImage" style="cursor: pointer;" {% endif %}/>

{% if isModal == true %}
<div  class="modal fade" id="modalImage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ asset('uploads/gallery/' ~ image.largeFileName) }}" alt="{{ data_data_entity_service.getTitleForImage(image) }} - {{ app.request.getSchemeAndHttpHost() }}/data" class="img-fluid rounded" />
            </div>
        </div>
    </div>
</div>
{% endif %}