{# app/Resources/views/layout.html.twig #}
 
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block follow %}{% endblock %}
        {% block meta %}
            {{ sonata_seo_link_canonical() }}
            {{ sonata_seo_metadatas() }}
        {% endblock %}
        <meta name="google-site-verification" content="YRUFAkrXR-wrZRMKfeUP8BI1H2isPOh7HzGFLasDU2g" />

        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{{ asset('images/logo.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/logo.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/logo.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('images/logo.png') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            {{ encore_entry_link_tags('css_global') }}
            {{ encore_entry_link_tags('css_main') }}
        {% endblock %}
        <style>.bmc-button img{width: 27px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{line-height: 36px !important;height:37px !important;text-decoration: none !important;display:inline-flex !important;color:#000000 !important;background-color:#FFFFFF !important;border-radius: 3px !important;border: 1px solid transparent !important;padding: 1px 9px !important;font-size: 22px !important;letter-spacing: 0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#000000 !important;}</style>
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

        <!-- Gestion des bibliothèques CSS, à réorganiser -->
        <link rel="stylesheet" href="{{ asset('jquery-ui/jquery-ui.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('jquery-ui/jquery-ui.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

        <link href="{{ asset('fileinput/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />

        {# Fancybox gestion #}
        <link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css?v=2.1.5') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css" media="screen" />

        <link rel="stylesheet" href="{{ asset('countdown/jquery.countdown.css') }}" type="text/css" />

        {% block jsonld %}{% endblock %}
    </head>
 
    <body>
        {% block header %}{% endblock %}   
        
        {% block container %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascript %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('prototype') }}
        {% endblock %}
    </body>
</html>